Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

test: guard_refusal の各拒否分岐に fork なしで届く
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

test: payload の tool_name が決める 2 経路にテストが届く
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

fix: decision を読めない hook がコマンドを通さず拒否する
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

refactor: pre-bash-guard の判定が hook の入出力から分かれる (#175)
  .claude/hooks/pre-bash-guard-decision.sh
  .claude/hooks/pre-bash-guard-decision.test.ts
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/pre-bash-guard.test.ts
  package.json
Due: lint, format

docs: codex-delegation が書き写していた規則が持ち主の文書だけになる (#173)
  .claude/skills/codex-delegation/SKILL.md
Due: none

docs: empirical-prompt-tuning を重複なしの英語で書く (#174)
  .claude/skills/empirical-prompt-tuning/SKILL.md
Due: none

chore: auto mode で gh pr merge --squash が classifier を通らず許可される
  .claude/settings.json
Due: format

chore: auto mode で gh pr merge --squash が classifier を通らず許可される (#177)
  .claude/settings.json
Due: format

refactor: gate が読まないフィールドがテストの payload と結果から消える
  .claude/hooks/stop-gate.test.ts
Due: lint, format

docs: 監査 skill の規則が design.md と page-audit を指す (#171)
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/page-audit/SKILL.md
Due: none

refactor: Stop gate の判定が hook の入出力から分かれて単体で呼べる
  .claude/hooks/stop-gate-decision.sh
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: gate の各判定と文言に scratch repository なしで届く
  .claude/hooks/stop-gate-decision.test.ts
Due: lint, format

test: pre-bash-guard の 243 ケースが hook を fork せずまとめて答えられる
  .claude/hooks/pre-bash-guard-decision.test.ts
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

test: pre-bash-guard.test.ts のケースが vitest の既定のタイムアウトで足りる
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

test: ケースが自分の送ったコマンドで答えを引ける
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

test: shard の負担が表の並び順から離れる
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

docs: hook のテストが文面を 1 つ書き写している理由が読める
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

fix: 文言に % が入っても printf がそのまま印字する
  .claude/hooks/stop-gate-decision.sh
Due: none

docs: link note のコメントが自分の下の 3 行だけを説明する
  .claude/hooks/stop-gate-decision.sh
  .claude/hooks/stop-gate.sh
Due: none

fix: decision を読めない block が bash の言い分を載せる
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: 受け付ける拡張子 10 個それぞれに分岐テストが届く
  .claude/hooks/stop-gate-decision.test.ts
Due: lint, format

fix: driver の snippet が後続ケースの入力を食べない
  .claude/hooks/stop-gate-decision.test.ts
Due: lint, format

docs: scratchRepo のコメントが今ある判定関数を指す
  .claude/hooks/stop-gate.test.ts
Due: lint, format

refactor: PATH のケースが gate の実依存だけを並べる
  .claude/hooks/stop-gate.test.ts
Due: lint, format

docs: allowlist した gh pr merge --squash が classifier を通らないと分かる
  AGENTS.md
Due: none

refactor: Stop gate の判定が hook の入出力から分かれる (#178)
  .claude/hooks/stop-gate-decision.sh
  .claude/hooks/stop-gate-decision.test.ts
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
Due: lint, format

docs: merge の段で refuse された PR を dispatching session がマージすると分かる
  AGENTS.md
Due: none

docs: dispatch の hold 条件が 5h window だけになる
  AGENTS.md
Due: none

docs: dispatch の規則が merge allow rule 後の運用に合う (#180)
  AGENTS.md
Due: none

test: payload の改行が entry を通り抜けることを 1 ケースが確かめる
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

docs: hook のテストの冒頭が jq の escape について嘘を書かない
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

docs: command のない payload のケース名が確かめている中身と合う
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

test: 止まった shard がファイルを止めずに落ちる
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

test: driver の下でも guard_refusal の stdin が hook の下と同じになる
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

test: pre-bash-guard のケース表が hook を fork せずまとめて答えられる (#179)
  .claude/hooks/pre-bash-guard-decision.test.ts
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

fix: clean-worktrees が origin/main を見てマージ済みブランチを消す
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: clean-worktrees が origin/main を見てマージ済みブランチを消す (#181)
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

chore: format 確認、git fetch、actionlint が auto mode で classifier を通らず許可される
  .claude/settings.json
Due: format

chore: format 確認、git fetch、actionlint が auto mode で classifier を通らず許可される (#182)
  .claude/settings.json
Due: format

refactor: PreToolUse の判定が process を起動せずに済む
  .claude/hooks/pre-bash-guard-decision.sh
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format
