Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

docs: fx-08 実走結果を記録しデルタ記述の教訓をスキルに反映する
  .claude/skills/review-diff/SKILL.md
  docs/superpowers/evals/review-diff/results/2026-07-12-fx08-large-diff.md
Due: none

feat: repo-audit に shadcn/improve 由来のレバレッジ順位付けと基準コミット記録を導入する
  .claude/skills/repo-audit/SKILL.md
  docs/superpowers/specs/2026-07-10-repo-audit-findings.md
Due: none

fix: cubic 指摘の share パイプライン表記と spec-verifier 返却形の不一致を直す
  .claude/agents/spec-verifier.md
  docs/agent-workflow.md
Due: none

fix: MCP 配列形応答で Aegis 相談スタンプが書かれないフックバグを直す
  .claude/hooks/post-aegis-compile.sh
Due: none

docs: eval 運用に汚染防止と複数回実走のルールを公式ガイダンス出典付きで明文化する
  docs/superpowers/evals/review-diff/README.md
  docs/superpowers/evals/verify-spec/README.md
Due: none

docs: ディスパッチの「フォアグラウンド」表記を完了待ち制約として言い直す
  .claude/skills/start-workflow/SKILL.md
  AGENTS.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0012.md
  docs/adr/0012-parent-centric-implementation.md
Due: format

fix: アバターの保存型XSSと認証済みIDORを塞ぐ(W1/W2)
  src/gateways/user/index.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/routes/api/avatars.ts
Due: lint, format

fix: Next.js 時代の認証 env 残骸を除去し OAuth ポートを 5173 に正す(W3)
  .env.local.example
  docs/DATABASE_SETUP.md
Due: none

fix: react-doctor が参照する存在しない doctor-explain スキルの記述を除去(W4)
  .claude/skills/react-doctor/SKILL.md
Due: none

chore: lucide-react を 1.24.0 に更新する(W5)
  bun.lock
  package.json
Due: format

docs: ADR-0007 を実際の @cloudflare/vite-plugin 機構に合わせて修正する(K1)
  .gitignore
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0007.md
  docs/adr/0007-tanstack-start-migration.md
Due: format

fix: cubic 指摘に対応しレガシーアバターの読み取りとローカル秘密の無視を修正する
  .gitignore
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
Due: lint, format

fix: repo-audit findings — avatar XSS/IDOR hardening + W3-W5/K1 (#35)
  .claude/skills/react-doctor/SKILL.md
  .env.local.example
  .gitignore
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0007.md
  bun.lock
  docs/DATABASE_SETUP.md
  docs/adr/0007-tanstack-start-migration.md
  package.json
  src/gateways/user/index.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/routes/api/avatars.ts
Due: lint, format

chore: bun.lock を再生成し frozen-lockfile CI を通せるようにする
  bun.lock
Due: none

chore: @tanstack/react-start を 1.168.27 に上げ react-router 1.170.17 と整合させる
  bun.lock
  package.json
Due: format

fix: dependabot を bun ecosystem に切り替え lockfile 更新漏れを防ぐ
  .github/dependabot.yml
Due: none

fix: dependabot を bun ecosystem に切り替え lockfile 更新漏れを防ぐ (#36)
  .github/dependabot.yml
Due: none

chore: anti-slop-design と motion-craft スキルを追加する
  .claude/skills/anti-slop-design/SKILL.md
  .claude/skills/motion-craft/SKILL.md
Due: none

feat: トップページをミニマルなドキュメント型に再設計する
  docs/superpowers/specs/2026-07-15-top-page-redesign-design.md
  src/routes/index.tsx
Due: lint, format

fix: パレットのダークモード表示とテーマ切替をトグルに修正する
  src/components/shared/mode-toggle/ModeToggle.test.ts
  src/components/shared/mode-toggle/ModeToggle.tsx
  src/routes/index.tsx
  src/styles.css
Due: lint, format

docs: remove-db スキルに ssr.tsx 削除と ADR deprecation 手順を補う
  .claude/skills/remove-db/SKILL.md
Due: none

feat: テーマ切り替えをライト/ダークのワンクリックトグルに簡素化する
  src/components/shared/mode-toggle/ModeToggle.test.ts
  src/components/shared/mode-toggle/ModeToggle.tsx
  src/components/ui/sonner.tsx
  src/routes/__root.tsx
Due: lint, format

docs: React ルールに外部システム同期・モジュール構成の指針を追加する
  .claude/rules/react.md
Due: none

chore: knip の追跡対象に CSS を含めて設定を簡素化する
  knip.json
Due: format

chore: lint / format / 未使用検出のゲートツールを最新へ上げる
  bun.lock
  package.json
Due: format

fix: アバターアップロードのサイズ上限をサーバ側で強制する
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/server/fn/profile.ts
Due: lint, format

fix: コードブロックのアクセシブル名とキーボード操作性を両立させる
  .oxlintrc.json
  src/routes/index.tsx
Due: lint, format

fix: セッションが公開既定シークレットで署名される状態を塞ぐ
  src/lib/auth/auth.ts
Due: lint, format

fix: 型アサーションと lint 抑制コメントを型宣言で解消する
  src/components/ui/form.tsx
  src/components/ui/sonner.tsx
Due: lint, format

refactor: クライアント認証アクションを auth/actions.ts へ移す
  src/components/shared/header/user-menu/UserMenu.tsx
  src/lib/auth/actions.ts
  src/routes/login.tsx
Due: lint, format

fix: allow リストの広さによる deny 境界の迂回路を塞ぐ
  .claude/settings.json
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
Due: format

fix: 環境変数ファイル保護から評価されない Write deny エントリを取り除く
  .claude/settings.json
Due: format

chore: エージェントに cf-typegen の無確認実行を許可する
  .claude/settings.json
Due: format

docs: ADR-0008 に path-scoped rules の復活を改訂記録する
  aegis-share/source/documents/adr-0008.md
  docs/adr/0008-consolidate-rules-into-agents-md.md
Due: none

docs: ADR 索引の改訂表記を各 ADR の実態に合わせる
  docs/adr/README.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
