Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

fix: バッチ化の根拠がレスポンス単位の実測値になる (#209)
  .claude/agents/code-reviewer.md
Due: none

perf: レビュアが冒頭の3コマンドを1呼び出しで出す
  .claude/agents/code-reviewer.md
Due: none

perf: レビュアが Stage C の再読を1呼び出しの窓で済ませる
  .claude/agents/code-reviewer.md
Due: none

fix: 連鎖が拒否された時のレビュアの逃げ道が本文にある
  .claude/agents/code-reviewer.md
Due: none

fix: Stage C の窓が行番号付きで、範囲を取り違えない
  .claude/agents/code-reviewer.md
Due: none

fix: 読み取りコストの根拠が実際に測った2つの数になる
  .claude/agents/code-reviewer.md
Due: none

fix: 先読みの損得が同じ計測から引いた数で書かれる
  .claude/agents/code-reviewer.md
Due: none

fix: 連鎖できない Read も1レスポンスにまとまる
  .claude/agents/code-reviewer.md
Due: none

perf: code-reviewer が同じ欠陥をより少ないトークンで返す (#210)
  .claude/agents/code-reviewer.md
Due: none

feat: レビュー報告が決着しなかった候補と各レンズの走査範囲を残す
  .claude/agents/code-reviewer.md
Due: none

fix: 棄権の理由リストが閉じたまま機能する
  .claude/agents/code-reviewer.md
Due: none

fix: 棄権にも再読の記録が残る
  .claude/agents/code-reviewer.md
Due: none

fix: 出典が何を指すかを 1 文だけが決める
  .claude/agents/code-reviewer.md
Due: none

fix: 外部ツールの扱いが 1 箇所にだけ書いてある
  .claude/agents/code-reviewer.md
Due: none

feat: レビュー報告が決着しなかった候補と各レンズの走査範囲を残す (#211)
  .claude/agents/code-reviewer.md
Due: none

fix: 同じ行に乗る別々の欠陥が別々の指摘として返る
  .claude/agents/code-reviewer.md
Due: none

docs: 棄権カプセルの段落が他と同じ幅で折り返される
  .claude/agents/code-reviewer.md
Due: none

fix: Stage B が求める判断と禁じる判断が食い違わない
  .claude/agents/code-reviewer.md
Due: none

fix: 同じ行に乗る別々の欠陥が別々の指摘として返る (#212)
  .claude/agents/code-reviewer.md
Due: none

fix: 実行でしか決着しない候補に棄権の行き先がある
  .claude/agents/code-reviewer.md
Due: none

fix: PLAUSIBLE と ABSTAINED の境界が見出し段落でも成り立つ
  .claude/agents/code-reviewer.md
Due: none

fix: unrunnable が環境の限界だけを指し、費用のかかる実行を拾わない
  .claude/agents/code-reviewer.md
Due: none

fix: 境界が依拠する語が 3 箇所で同じになる
  .claude/agents/code-reviewer.md
Due: none

fix: 実行でしか決着しない候補に棄権の行き先がある (#213)
  .claude/agents/code-reviewer.md
Due: none

fix: dedup の判定基準が、修正に至らない候補にも当てはまる
  .claude/agents/code-reviewer.md
Due: none

fix: 2 つ目の例が、共有する主語と自分の根拠を持つ
  .claude/agents/code-reviewer.md
Due: none

fix: dedup の判定基準が、修正に至らない候補にも当てはまる (#214)
  .claude/agents/code-reviewer.md
Due: none

chore: Effect v4 のランタイムと Schema がこのリポジトリで使えるようになる
  bun.lock
  package.json
Due: format

docs: Effect を書く前に読む一次資料に AGENTS.md から辿り着ける
  AGENTS.md
Due: none

refactor: avatar の読み取りが失敗を型付きエラーチャネルで運ぶ
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/lib/auth/current-session.live.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/server/fn/avatar.test.ts
  src/server/fn/avatar.ts
  src/server/runtime.live.ts
  vite.config.ts
Due: lint, format

Effect v4 を導入し、avatar 読み取りパスを Effect 化する (#215)
  AGENTS.md
  bun.lock
  package.json
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/lib/auth/current-session.live.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/server/fn/avatar.test.ts
  src/server/fn/avatar.ts
  src/server/runtime.live.ts
  vite.config.ts
Due: lint, format

refactor: プロフィール更新の結果が成功と失敗のどちらか一方に必ず決まる
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/gateways/user/ports.ts
  src/server/fn/current-user.test.ts
  src/server/fn/current-user.ts
  src/server/fn/profile-writer.test.ts
  src/server/fn/profile-writer.ts
  src/server/fn/profile.test.ts
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
  src/server/runtime.live.ts
Due: lint, format

test: updateUser の成功アームが壊れたときにテストが落ちる
  src/gateways/user/index.test.ts
Due: lint, format

docs: UserPersistenceError の説明がこのモジュールの実際の扱いと一致する
  src/gateways/user/index.ts
Due: lint, format

docs: MemoMap のコメントが、このファイルに載っているものだけを主語にする
  src/server/runtime.live.ts
Due: lint, format

docs: runCurrentUser と runUpdateProfile の説明が直下の関数だけを述べる
  src/server/fn/current-user.ts
  src/server/fn/profile-writer.ts
Due: lint, format

refactor: drizzleUserStore の 4 メソッドが揃って戻り値の型を書く
  src/gateways/user/drizzle-store.live.ts
Due: lint, format

Effect v4: user gateway と profile / user の server fn を Effect 化する (#216)
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/gateways/user/ports.ts
  src/server/fn/current-user.test.ts
  src/server/fn/current-user.ts
  src/server/fn/profile-writer.test.ts
  src/server/fn/profile-writer.ts
  src/server/fn/profile.test.ts
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
  src/server/runtime.live.ts
Due: lint, format

refactor: server/fn の下から server/fn へ上向きに伸びる import が消える
  src/routes/api/avatars.ts
  src/server/fn/avatar.ts
  src/server/runtime.live.ts
Due: lint, format

refactor: 配線だけの server fn が coverage の除外規約どおりの名前になる
  src/routes/__root.tsx
  src/routes/profile.tsx
  src/server/fn/user.live.ts
Due: lint, format
