Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: vitest.config.mts が tsconfig の program に入る
  tsconfig.json
Due: format

fix: 型アサーションを lint が error にする
  vite.config.ts
Due: lint, format

fix: vitest.config.mts が tsconfig の program に入る (#137)
  tsconfig.json
Due: format

docs: react.md の module 配置ルールが .ts しか触らない session にも届く
  .claude/rules/react.md
Due: none

docs: 非 component 値の置き場所の判定基準が 1 つになる
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: 非 component 値の置き場所の判定を 1 つにし、react.md を src/ 配下の .ts にも届かせる (#139)
  .claude/rules/react.md
  AGENTS.md
Due: none

fix: 型アサーションを lint が error にする (#138)
  vite.config.ts
Due: lint, format

docs: 自分で決められる判断を進め、ユーザーに渡す判断は質問ダイアログで聞く
  AGENTS.md
Due: none

feat: テストを壊した turn を Stop gate が止める
  .claude/hooks/stop-gate.sh
  .claude/settings.json
Due: format

docs: AGENTS.md が session の側に残る検証だけを書く
  AGENTS.md
Due: none

feat: テストを壊した turn を Stop gate が止める (#140)
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  AGENTS.md
Due: format

docs: 自分で決められる判断を進め、ユーザーに渡す判断は質問ダイアログで聞く (#141)
  AGENTS.md
Due: none

fix: clean-worktrees が GitHub より遅れた worktree を「未 push」と書かなくなる
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: 失敗した命令の理由行が命令行ではなく原因を出す
  scripts/orchestrate.ts
Due: lint, format

docs: README が Stop gate の実行内容を実態どおりに書く
  README.md
Due: none

docs: README の portless の URL が付く条件を書く
  README.md
Due: none

docs: README が Cloud Agent のセットアップの中身を書く
  README.md
Due: none

fix: GitHub の commit がローカルに無い case が git の fatal ではなく理由を出す
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

refactor: branch を削除して理由を返す処理が 1 か所になる
  scripts/orchestrate.ts
Due: lint, format

docs: README が Stop gate と検査の実行場所を実態どおりに書く (#143)
  README.md
Due: none

fix: check と test を両方壊した turn で Stop gate が両方を報告する
  .claude/hooks/stop-gate.sh
Due: none

fix: clean-worktrees の keep 理由が GitHub との前後関係を取り違えなくなる (#142)
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

feat: .cursor/rules の mirror が壊れたことを検出できるようにする
  scripts/check-cursor-rule-mirrors.test.ts
  scripts/check-cursor-rule-mirrors.ts
Due: lint, format

feat: CI が .cursor/rules の mirror を判定するようにする
  .github/workflows/ci.yaml
Due: none

fix: markdown link check の失敗も同じ turn の block に乗る
  .claude/hooks/stop-gate.sh
Due: none

fix: 巨大な失敗出力でも Stop gate が block を出せる
  .claude/hooks/stop-gate.sh
Due: none

fix: heredoc の本文だけを落とし、terminator の後ろは command として読む
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

fix: 他の step が失敗した block でも link check の skip が伝わる
  .claude/hooks/stop-gate.sh
Due: none

feat: .cursor/rules の mirror が壊れたことを CI で検出する (#145)
  .github/workflows/ci.yaml
  scripts/check-cursor-rule-mirrors.test.ts
  scripts/check-cursor-rule-mirrors.ts
Due: lint, format

fix: find gate が heredoc の terminator の後ろの command を見るようにする
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

fix: 全体を stage する git add を hook が拒むようにする
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

fix: 全体を stage する git add を hook が拒むようにする (#146)
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

feat: worktree の初期化を bun run setup 1 つで済ませる
  package.json
  scripts/setup.sh
Due: format

docs: ticket-work の初期化手順を 1 コマンドに置き換える
  .claude/skills/ticket-work/SKILL.md
Due: none

test: mise 不在時に setup が残りの段を続けることを固定する
  scripts/setup.test.ts
Due: lint, format

fix: README の git hooks が入る契機を実測に合わせる
  README.md
Due: none

fix: link check が失敗した block が md links: clean と言わなくなる
  .claude/hooks/stop-gate.sh
Due: none

fix: Stop gate が turn 内で見つけた失敗を残らず報告する (#144)
  .claude/hooks/stop-gate.sh
Due: none

feat: worktree の初期化を bun run setup 1 つで済ませる (#147)
  .claude/skills/ticket-work/SKILL.md
  README.md
  package.json
  scripts/setup.sh
  scripts/setup.test.ts
Due: lint, format

test: expect() の fixture が 1 箇所で定義される
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
