Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

feat: Aegis ナレッジベースをリポジトリに同梱
  .aegis/.gitignore
  .aegis/aegis.db
Due: none

feat: update stop review agent settings
  .claude/agents/code-reviewer.md
  .claude/hooks/pre-commit-code-review.sh
  .claude/hooks/stop-agent-review.sh
  .claude/settings.json
Due: format

feat: update ai settings
  .claude/hooks/pre-commit-code-review.sh
  .claude/rules/architecture.md
  .claude/settings.json
Due: format

feat: update frontend rules and pre-commit programs
  .claude/agents/code-reviewer.md
  .claude/hooks/pre-commit-code-review.sh
  .claude/rules/agents.md
  .claude/rules/architecture.md
  .claude/rules/hooks.md
  .claude/rules/naming.md
  .claude/rules/tools.md
  .claude/rules/types.md
Due: none

chore: テンプレートから前プロジェクト固有の内容を除去
  .claude/agents/code-reviewer.md
  .claude/plans/vectorized-chasing-pearl.md
Due: none

feat: フロントエンドルールの精緻化
  .claude/rules/agents.md
  .claude/rules/architecture.md
  .claude/rules/tools.md
Due: none

feat: Lighthouse / Performance audit スキルを追加
  .claude/skills/lighthouse-audit/SKILL.md
  .claude/skills/performance-audit/SKILL.md
Due: none

feat: oxlint の type-aware linting を有効化
  .claude/rules/tools.md
  bun.lockb
  lefthook.yml
  package.json
Due: format

fix: type-aware linting で検出されたエラーを修正
  src/components/ui/form.tsx
  src/components/ui/sonner.tsx
  src/lib/auth/auth.ts
  src/server/cloudflare.ts
Due: lint, format

chore: Chrome DevTools MCP をプラグイン版に移行
  .claude/rules/tools.md
  .claude/settings.json
  .mcp.json
Due: format

feat: エージェント委譲ルールにチーム分解の指針を追加
  .aegis/aegis.db
  .claude/rules/agents.md
Due: none

docs: Aegis メンテナンス運用の落とし穴を tools ルールに追記
  .claude/rules/tools.md
Due: none

feat: 公開前監査の launch-checklist skill を追加
  .claude/skills/launch-checklist/SKILL.md
Due: none

docs: .claude の rule を共有テンプレート最新版へ同期
  .aegis/aegis.db
  .claude/rules/agents.md
  .claude/rules/testing.md
  .claude/rules/tools.md
Due: none

chore: pre-commit-code-review.sh を連結コマンド対応版へ更新
  .claude/hooks/pre-commit-code-review.sh
Due: none

docs: コーディングルールを再編・拡充
  .claude/rules/agents.md
  .claude/rules/architecture.md
  .claude/rules/dependencies.md
  .claude/rules/hooks.md
  .claude/rules/naming.md
  .claude/rules/style.md
  .claude/rules/testing.md
  .claude/rules/tools.md
  .claude/rules/types.md
Due: none

fix: 統合・削除したルールへの参照を整合
  .claude/agents/code-reviewer.md
  AGENTS.md
Due: none

chore: pre-commit フックを堅牢化
  .claude/hooks/pre-commit-code-review.sh
Due: none

chore: Aegis のバージョン管理を source-native へ移行
  .aegis/.gitignore
  .aegis/aegis.db
  aegis-share/source/documents/adr-0001.md
  aegis-share/source/documents/adr-0002.md
  aegis-share/source/documents/adr-0003.md
  aegis-share/source/documents/adr-0004.md
  aegis-share/source/documents/adr-0005.md
  aegis-share/source/documents/adr-0006.md
  aegis-share/source/documents/adr-0007.md
  aegis-share/source/documents/rule-agents.md
  aegis-share/source/documents/rule-architecture.md
  aegis-share/source/documents/rule-hooks.md
  aegis-share/source/documents/rule-style.md
  aegis-share/source/documents/rule-testing.md
  aegis-share/source/documents/rule-tools.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
Due: format

feat: react-doctor skill を追加
  .claude/skills/react-doctor/SKILL.md
Due: none

chore(deps): bump 5 dependencies
  bun.lockb
  package.json
Due: format

fix: add CSS module type declaration for tsgo
  src/env.d.ts
Due: lint, format

fix: ModeToggle の Tailwind arbitrary value を標準クラスに置換
  src/components/shared/mode-toggle/ModeToggle.tsx
Due: lint, format

feat: oxlint JS plugin で8つのコーディングルールを自動化
  .claude/rules/architecture.md
  .claude/rules/style.md
  .claude/rules/testing.md
  .oxlintrc.json
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  tools/oxlint-plugins/style-rules.js
  tools/oxlint-plugins/style-rules.test.ts
Due: lint, format

refactor: commit 規約を .claude/rules/commit.md に移動
  .claude/rules/commit.md
  .claude/skills/commit/SKILL.md
Due: none

chore: commit skill を削除（規約は .claude/rules/commit.md に集約済み）
  .claude/skills/commit/SKILL.md
Due: none

docs: git log だけで改善履歴が読めるようコミットメッセージ規約を強化
  .claude/rules/commit.md
Due: none

docs: コミットメッセージ例から曖昧な目的記述を排除
  .claude/rules/commit.md
Due: none

fix: MCP allow ルールを有効な形式に修正し /doctor 警告を解消
  .claude/settings.json
Due: format

feat: テスト数増加時の Import ボトルネックを事前に回避する
  src/vitest.setup.ts
  vitest.config.mts
Due: lint, format

chore: main マージ後の lockfile を同期
  bun.lockb
Due: none

fix(deps): vitest / better-auth / TanStack の脆弱性を解消
  bun.lockb
  package.json
Due: format

chore: Stop フックの component-verify を廃止しコスト削減
  .claude/hooks/stop-component-verify.sh
  .claude/settings.json
Due: format

refactor: pre-commit レビューの一時ファイル依存を排除しモデルを明示化
  .claude/hooks/pre-commit-code-review.sh
Due: none

docs: コミット規約の説明文を英語化しエージェントの解釈精度を向上
  .claude/rules/commit.md
Due: none

fix: oxfmt のコマンド名を実際の package.json スクリプトと一致させる
  .claude/rules/tools.md
Due: none

fix: oxlint カスタムルールが it.skip / MemberExpression / JSX式リテラルを正しく処理するよう修正
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  tools/oxlint-plugins/style-rules.js
  tools/oxlint-plugins/style-rules.test.ts
Due: lint, format

fix: pre-commit レビューが agents.md のルールも参照するよう対象ファイルを追加
  .claude/hooks/pre-commit-code-review.sh
Due: none

feat: jest-dom マッチャーと jsdom スタブを統合しテストの表現力を向上
  bun.lockb
  package.json
  src/test-setup.ts
Due: lint, format
