Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

docs: README が oxlint.effect.ts の実際の状態を述べる
  README.md
Due: none

feat: Effect の recommended 全 42 本が error で src/ を検査する
  oxlint.effect.ts
  vite.config.ts
Due: lint, format

feat: Effect の recommended 全 42 本が error で src/ を検査する (#249)
  README.md
  oxlint.effect.ts
  vite.config.ts
Due: lint, format

docs: 直下のコードだけを説明するコメントが残る
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/components/shared/mode-toggle/theme-cycle.ts
  src/entities/user/index.ts
  src/gateways/user/index.ts
  src/lib/auth/session.live.ts
  src/lib/report-error.ts
  src/routes/__root.tsx
Due: lint, format

refactor: 余分な項目を落とすことが pickCaller の signature に現れる
  src/lib/auth/session-user.ts
Due: lint, format

refactor: 名前更新の 2 分岐が同ファイルの rollback 分岐と同じ形で読める
  src/gateways/user/index.ts
Due: lint, format

test: session-user のテストが周りのテストと同じ読み方で通る
  src/lib/auth/session-user.test.ts
Due: lint, format

docs: README の Effect ルール行が oxlint.effect.ts を言い換えない
  README.md
Due: none

docs: コメントが直下のコードだけを説明する形に揃う (#250)
  README.md
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/components/shared/mode-toggle/theme-cycle.ts
  src/entities/user/index.ts
  src/gateways/user/index.ts
  src/lib/auth/session-user.test.ts
  src/lib/auth/session-user.ts
  src/lib/auth/session.live.ts
  src/lib/report-error.ts
  src/routes/__root.tsx
Due: lint, format

refactor: 名前更新の失敗が Effect の文書どおりの形で上がる
  src/gateways/user/index.ts
Due: lint, format

refactor: Error 判定が Effect の Predicate モジュールに乗る
  src/lib/auth/dev-sign-in.ts
  src/lib/report-error.ts
Due: lint, format

refactor: 永続化されたテーマ文字列が Schema で検証される
  src/components/shared/mode-toggle/theme-cycle.ts
Due: lint, format

refactor: Effect のコードが Effect 自身のガイダンスどおりの形になる (#251)
  src/components/shared/mode-toggle/theme-cycle.ts
  src/gateways/user/index.ts
  src/lib/auth/dev-sign-in.ts
  src/lib/report-error.ts
Due: lint, format

feat: Effect ファイルを最初に編集するとき、その版のガイダンスが手元に届く
  .claude/hooks/effect-guidance-decision.sh
  .claude/hooks/effect-guidance-decision.test.ts
  .claude/hooks/effect-guidance-reminder.sh
  .claude/hooks/effect-guidance-reminder.test.ts
Due: lint, format

chore: Effect ガイダンスの hook が PreToolUse に登録される
  .claude/settings.json
Due: format

feat: Effect ファイルの最初の編集で、その版のガイダンスが手元に届く (#252)
  .claude/hooks/effect-guidance-decision.sh
  .claude/hooks/effect-guidance-decision.test.ts
  .claude/hooks/effect-guidance-reminder.sh
  .claude/hooks/effect-guidance-reminder.test.ts
  .claude/settings.json
Due: lint, format

feat: Dev ビルドでもログイン画面のボタン 1 つでサインインできる
  docs/DATABASE_SETUP.md
  src/components/features/login-page/dev-sign-in-panel.tsx
  src/components/features/login-page/sign-in-button.tsx
  src/lib/auth/actions.live.ts
  src/lib/auth/dev-users.ts
  src/lib/auth/sign-in.test.ts
  src/lib/auth/sign-in.ts
  src/routes/login.tsx
Due: lint, format

feat: 開発ビルドからも Google ログインの経路を試せる
  docs/DATABASE_SETUP.md
  src/env.d.ts
  src/lib/auth/actions.live.ts
Due: lint, format

feat: ログイン画面のボタンが 1 つになり、Dev ビルドではそれが自動ログインになる (#253)
  docs/DATABASE_SETUP.md
  src/components/features/login-page/dev-sign-in-panel.tsx
  src/components/features/login-page/sign-in-button.tsx
  src/env.d.ts
  src/lib/auth/actions.live.ts
  src/lib/auth/dev-users.ts
  src/lib/auth/sign-in.test.ts
  src/lib/auth/sign-in.ts
  src/routes/login.tsx
Due: lint, format

docs: ユーザーが頼んだ CLAUDE.md の編集で、セッションが止まらなくなる
  AGENTS.md
Due: none

docs: dispatch 側セッションが、自分に使えるコマンドを settings.json で読む
  AGENTS.md
Due: none

docs: .claude/ だけを変えたチケットが、CI でしか落ちない 2 本を先に知る
  AGENTS.md
Due: none

docs: AGENTS.md の記述がリポジトリの現状と一致する (#254)
  AGENTS.md
Due: none

docs: 文書全体の構成を prose ルールが決める
  .claude/rules/prose.md
Due: none

docs: 文書全体の構成を prose ルールが決める (#255)
  .claude/rules/prose.md
Due: none

docs: ローンチ監査レポートが直すべき項目から始まる
  .claude/skills/launch-checklist/SKILL.md
Due: none

docs: モーションレビューが Block か Approve かを最初に示す
  .claude/skills/motion-craft/SKILL.md
Due: none

docs: ローンチ監査スキルの説明が中身を狭める語だけで書かれる
  .claude/skills/launch-checklist/SKILL.md
Due: none

docs: design ルールの最初の見出しが中身を名指しする
  .claude/rules/design.md
Due: none

docs: 出力フォーマットが prose ルールの文書構成に揃う (#256)
  .claude/rules/design.md
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/motion-craft/SKILL.md
Due: none

docs: 読み手が知らない用語が、その人の持っている言葉に結び付いて報告に出る
  .claude/rules/prose.md
Due: none

docs: 読み手が知らない用語が、その人の持っている言葉に結び付いて報告に出る (#257)
  .claude/rules/prose.md
Due: none

refactor: gateways/user のファイル名と関数名が read / update の役割で読める
  src/components/features/profile-page/profile-form/submit-profile.live.ts
  src/components/features/profile-page/profile-form/submit-profile.ts
  src/gateways/user/read.fn.ts
  src/gateways/user/read.test.ts
  src/gateways/user/read.ts
  src/gateways/user/update.fn.test.ts
  src/gateways/user/update.fn.ts
  src/gateways/user/update.test.ts
  src/gateways/user/update.ts
  src/gateways/user/user.live.ts
  src/routes/__root.tsx
  src/routes/profile.tsx
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

feat: クライアントからサーバ専用モジュールへ到達するとビルドが落ちる
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.ts
  src/gateways/avatar/reader.ts
  src/gateways/runtime.live.ts
  src/gateways/user/avatar-key-ids.live.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.ts
  src/gateways/user/read.ts
  src/gateways/user/update.ts
  src/lib/auth/auth.live.ts
  src/lib/auth/session.live.ts
  src/lib/cloudflare/env.live.ts
  src/lib/drizzle/db.live.ts
Due: lint, format

docs: サーバ境界の宣言方法と、いま何が止めているかが文書と一致する
  AGENTS.md
  docs/SERVER_BOUNDARY.md
Due: none

refactor: gateways/user が read / update の役割で読め、サーバ境界がマーカーで宣言される (#258)
  AGENTS.md
  docs/SERVER_BOUNDARY.md
  src/components/features/profile-page/profile-form/submit-profile.live.ts
  src/components/features/profile-page/profile-form/submit-profile.ts
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.ts
  src/gateways/avatar/reader.ts
  src/gateways/runtime.live.ts
  src/gateways/user/avatar-key-ids.live.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.ts
  src/gateways/user/read.fn.ts
  src/gateways/user/read.test.ts
  src/gateways/user/read.ts
  src/gateways/user/update.fn.test.ts
  src/gateways/user/update.fn.ts
  src/gateways/user/update.test.ts
  src/gateways/user/update.ts
  src/gateways/user/user.live.ts
  src/lib/auth/auth.live.ts
  src/lib/auth/session.live.ts
  src/lib/cloudflare/env.live.ts
  src/lib/drizzle/db.live.ts
  src/routes/__root.tsx
  src/routes/profile.tsx
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: gateway のファイルが操作ごとに 1 枚になり、中間層と *.live.ts が消える
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/gateways/runtime.ts
  src/gateways/user/avatar-key-ids.live.ts
  src/gateways/user/avatar/index.test.ts
  src/gateways/user/avatar/index.ts
  src/gateways/user/avatar/read.test.ts
  src/gateways/user/avatar/read.ts
  src/gateways/user/avatar/update.test.ts
  src/gateways/user/avatar/update.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/gateways/user/read.test.ts
  src/gateways/user/read.ts
  src/gateways/user/update.test.ts
  src/gateways/user/update.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/routes/index.tsx
  vite.config.ts
Due: lint, format

feat: server-only マーカーを書き忘れた gateway モジュールを lint が止める
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vite.config.ts
Due: lint, format

docs: gateway ディレクトリの中身の決まりが、スコープを持つルールに移る
  .claude/rules/gateways.md
  .cursor/rules/gateways.mdc
  AGENTS.md
Due: none

refactor: gateway のファイルが操作ごとに 1 枚になり、中間層と *.live.ts が消える (#259)
  .claude/rules/gateways.md
  .cursor/rules/gateways.mdc
  AGENTS.md
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/gateways/runtime.ts
  src/gateways/user/avatar-key-ids.live.ts
  src/gateways/user/avatar/index.test.ts
  src/gateways/user/avatar/index.ts
  src/gateways/user/avatar/read.test.ts
  src/gateways/user/avatar/read.ts
  src/gateways/user/avatar/update.test.ts
  src/gateways/user/avatar/update.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/gateways/user/read.test.ts
  src/gateways/user/read.ts
  src/gateways/user/update.test.ts
  src/gateways/user/update.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/routes/index.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vite.config.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
