Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

Effect v4: 上向きの import が消え、配線だけの server fn が規約どおりの名前になる (#217)
  src/routes/__root.tsx
  src/routes/api/avatars.ts
  src/routes/profile.tsx
  src/server/fn/avatar.ts
  src/server/fn/user.live.ts
  src/server/runtime.live.ts
Due: lint, format

refactor: User エンティティが createdAt / updatedAt を日時として検証する
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/entities/user/index.test.ts
  src/entities/user/index.ts
  src/gateways/user/index.ts
  src/server/fn/profile.ts
Due: lint, format

docs: サーバ境界のレイヤ図が entities の実際のスキーマライブラリを指す
  docs/SERVER_BOUNDARY.md
Due: none

docs: remove-db が knip の出さない zod の指摘を待たせない
  .claude/skills/remove-db/SKILL.md
Due: none

chore: 依存の宣言が src の import と一致する
  bun.lock
  package.json
Due: format

refactor: layer の照合が、記述順ではなく最も具体的なプレフィックスで決まる
  tools/oxlint-plugins/arch-rules.js
Due: lint, format

fix: src/server/ 直下のファイルにも層の逆流禁止が効く
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

Effect v4: entities を zod から Effect Schema に移す (#218)
  .claude/skills/remove-db/SKILL.md
  bun.lock
  docs/SERVER_BOUNDARY.md
  package.json
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/entities/user/index.test.ts
  src/entities/user/index.ts
  src/gateways/user/index.ts
  src/server/fn/profile.ts
Due: lint, format

fix: src/server/ 直下のファイルにも層の逆流禁止が効く (#219)
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: Cloudflare バインディングの取得口が gateway の下の層に移る
  .claude/skills/remove-db/SKILL.md
  README.md
  knip.json
  src/gateways/avatar/index.ts
  src/lib/auth/auth.live.ts
  src/lib/cloudflare/env.live.ts
  src/lib/drizzle/db.live.ts
  src/lib/storage/r2.live.ts
  src/routes/index.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: src/server より下の層が src/server を import すると lint が落ちる
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: src/server から src/lib への import を止めるメッセージが、アダプタ以外の import にも当てはまる
  tools/oxlint-plugins/arch-rules.js
Due: lint, format

test: src/server が src/lib を import できないテストが、このチケットが移したモジュールも押さえる
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: entity が src/lib のアダプタを import すると lint が落ちる
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: getCloudflareEnv が src/lib に移り、下の層からの上向き import が lint で落ちる (#220)
  .claude/skills/remove-db/SKILL.md
  README.md
  knip.json
  src/gateways/avatar/index.ts
  src/lib/auth/auth.live.ts
  src/lib/cloudflare/env.live.ts
  src/lib/drizzle/db.live.ts
  src/lib/storage/r2.live.ts
  src/routes/index.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: 全ルートが SSR 中に 500 を返さなくなる
  src/server/fn/user.live.ts
Due: lint, format

test: ビルドが通ったまま死んでいる Worker を CI が捕まえる
  .github/workflows/ci.yaml
  package.json
  scripts/smoke.entry.ts
  scripts/smoke.test.ts
  scripts/smoke.ts
Due: lint, format

docs: Stop gate が回さない検査の一覧に smoke が載る
  AGENTS.md
  README.md
Due: none

fix: 全ルートが 500 を返さなくなり、死んだアプリを CI が捕まえる (#221)
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  package.json
  scripts/smoke.entry.ts
  scripts/smoke.test.ts
  scripts/smoke.ts
  src/server/fn/user.live.ts
Due: lint, format

refactor: ManagedRuntime の配線が唯一の利用元ディレクトリに並ぶ
  knip.json
  src/server/fn/avatar.ts
  src/server/fn/current-user.ts
  src/server/fn/profile-writer.ts
  src/server/fn/runtime.live.ts
Due: lint, format

refactor: 違反しようのないファイルを守っていた層の規則が消える
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: ディレクトリツリーが src/server の中身と一致する
  README.md
  src/routes/index.tsx
Due: lint, format

docs: 移行コスト表の arch-rules.js のパス依存が実測値になる
  docs/SERVER_BOUNDARY.md
Due: none

refactor: src/server が層でなくなり、ManagedRuntime の配線が利用元に並ぶ (#222)
  README.md
  docs/SERVER_BOUNDARY.md
  knip.json
  src/routes/index.tsx
  src/server/fn/avatar.ts
  src/server/fn/current-user.ts
  src/server/fn/profile-writer.ts
  src/server/fn/runtime.live.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: R2 バケットの入口とアバター URL の形がそれぞれ 1 モジュールに集まる
  src/gateways/avatar/index.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/storage/avatar-bucket.live.ts
  src/lib/storage/avatar-url.test.ts
  src/lib/storage/avatar-url.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/lib/storage/r2.live.ts
  src/routes/api/-avatars.test.ts
Due: lint, format

refactor: バケットと URL のモジュールが、技術的役割ではなく使う側の隣に並ぶ
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.ts
  src/gateways/user/avatar-url.test.ts
  src/gateways/user/avatar-url.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/routes/api/-avatars.test.ts
Due: lint, format

refactor: R2 バケットの入口とアバター URL の形がそれぞれ 1 モジュールに集まる (#223)
  src/gateways/avatar-bucket.live.ts
  src/gateways/avatar/index.ts
  src/gateways/user/avatar-url.test.ts
  src/gateways/user/avatar-url.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/lib/storage/r2.live.ts
Due: lint, format

docs: 順次チケットが伝言ゲームにならなくなる
  AGENTS.md
Due: none

docs: 順次チケットが伝言ゲームにならなくなる (#224)
  AGENTS.md
Due: none

feat: ビルドが緑のまま実行時に壊れる handler 引数を lint が止める
  tools/oxlint-plugins/start-rules.js
  tools/oxlint-plugins/start-rules.test.ts
  vite.config.ts
Due: lint, format

feat: ビルドが緑のまま実行時に壊れる handler 引数を lint が止める (#225)
  tools/oxlint-plugins/start-rules.js
  tools/oxlint-plugins/start-rules.test.ts
  vite.config.ts
Due: lint, format

feat: アバターのバケットキーを行に保存できるようになる
  src/lib/drizzle/migrations/0003_left_genesis.sql
  src/lib/drizzle/migrations/meta/0003_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
Due: lint, format

test: ルートのファイル名と配信パスのずれがコンパイルで止まるようになる
  src/routes/api/-avatars.test.ts
Due: lint, format

fix: ルートパスを変えても既存のアバターが 404 にならなくなる
  src/gateways/user/avatar-url.test.ts
  src/gateways/user/avatar-url.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/avatar-url.test.ts
  src/lib/avatar-url.ts
Due: lint, format

fix: ルートパスを変えても既存のアバターが 404 にならなくなる (#226)
  src/gateways/user/avatar-url.test.ts
  src/gateways/user/avatar-url.ts
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/avatar-url.test.ts
  src/lib/avatar-url.ts
  src/lib/drizzle/migrations/0003_left_genesis.sql
  src/lib/drizzle/migrations/meta/0003_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
  src/routes/api/-avatars.test.ts
Due: lint, format

refactor: 誰も呼ばない鍵検査が消えて、受理集合の網は残る
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
Due: lint, format

refactor: 誰も呼ばない鍵検査が消えて、受理集合の網は残る (#227)
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
Due: lint, format

refactor: 層が 3 つになり、認可境界が gateway と同じディレクトリに並ぶ
  .claude/skills/remove-db/SKILL.md
  AGENTS.md
  README.md
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
  knip.json
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/gateways/avatar/reader.test.ts
  src/gateways/avatar/reader.ts
  src/gateways/runtime.live.ts
  src/gateways/user/current-user.test.ts
  src/gateways/user/current-user.ts
  src/gateways/user/profile-writer.test.ts
  src/gateways/user/profile-writer.ts
  src/gateways/user/profile.test.ts
  src/gateways/user/profile.ts
  src/gateways/user/user.live.ts
  src/routes/__root.tsx
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/routes/index.tsx
  src/routes/profile.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vite.config.ts
Due: lint, format

fix: route が CurrentSession 経由で認可を自前解決する経路が lint で落ちる
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: 整形に使うコマンドが Schema.TaggedError を壊さないものになる
  AGENTS.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
