Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: gh が失敗したときも watch-prs が一行で結果を返すようにする
  AGENTS.md
  scripts/orchestrate.ts
Due: lint, format

docs: dispatch の閾値を free-gib が出す単位で書く
  AGENTS.md
Due: none

chore: orchestrate.ts の呼び出しを permission の allow に載せる
  .claude/settings.json
Due: format

fix: 空きメモリを読むコマンドが無い環境でも free-gib が理由を出すようにする
  scripts/orchestrate.ts
Due: lint, format

fix: PR 番号にならない引数を gh に渡す前に弾く
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

refactor: 待機中の watch-prs が前の poll の結果を抱え続けないようにする
  scripts/orchestrate.ts
Due: lint, format

fix: 10 進数でない PR 番号の書き方を prNumbers が受けないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
Due: lint, format

feat: オーケストレータが承認待ちで止まらない形で worker を回せるようにする (#114)
  .claude/settings.json
  AGENTS.md
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
  vitest.config.mts
Due: lint, format

feat: Alert コンポーネントを shadcn の流儀で追加する
  src/components/ui/alert.test.tsx
  src/components/ui/alert.tsx
Due: lint, format

feat: Separator コンポーネントを shadcn の流儀で追加する
  src/components/ui/separator.test.tsx
  src/components/ui/separator.tsx
Due: lint, format

feat: Alert コンポーネントを shadcn の流儀で追加する (#115)
  src/components/ui/alert.test.tsx
  src/components/ui/alert.tsx
Due: lint, format

feat: Separator コンポーネントを shadcn の流儀で追加する (#116)
  src/components/ui/separator.test.tsx
  src/components/ui/separator.tsx
Due: lint, format

feat: Tooltip コンポーネントを shadcn の流儀で追加する
  src/components/ui/tooltip.test.tsx
  src/components/ui/tooltip.tsx
  src/styles.css
  src/test-setup.ts
Due: lint, format

feat: Tooltip を provider の記述なしにどのルートでも使えるようにする
  src/routes/__root.tsx
Due: lint, format

feat: Tooltip コンポーネントを shadcn の流儀で追加する (#117)
  src/components/ui/tooltip.test.tsx
  src/components/ui/tooltip.tsx
  src/routes/__root.tsx
  src/styles.css
  src/test-setup.ts
Due: lint, format

docs: watch の待ち方が PR の作者と dispatch する session で取り違えられないようにする
  AGENTS.md
Due: none

chore: 実測で頻度の高い読み取り専用コマンドを allow に載せる
  .claude/settings.json
Due: format

test: Badge の className マージテストが base クラス全消しを検出できるようにする
  src/components/ui/badge.test.tsx
Due: lint, format

test: Badge のテスト名が本体の assert する variant まで述べるようにする
  src/components/ui/badge.test.tsx
Due: lint, format

docs: 待ち方の書き分けから二段上と同じ理由の繰り返しを外す
  AGENTS.md
Due: none

docs: 並列実行で実際に止まった二点を手順と allow に反映する (#118)
  .claude/settings.json
  AGENTS.md
Due: format

test: className マージテストが rounded-full の base からの削除も検出するようにする
  src/components/ui/badge.test.tsx
Due: lint, format

test: Badge のテストが base クラスの消失とテスト名の不一致を捉えるようにする (#119)
  src/components/ui/badge.test.tsx
Due: lint, format

docs: watch の出力が空になる頻度を数から外す
  AGENTS.md
Due: none

docs: 出力ファイルが空になったという主張自体を落とす
  AGENTS.md
Due: none

docs: watch の出力が空になる頻度を数から外す (#120)
  AGENTS.md
Due: none

feat: 終わった worker の worktree を clean-worktrees で片付けられるようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

docs: run が終わったあとに worktree を片付ける手順を足す
  AGENTS.md
Due: none

test: worktree の一覧が git の実際の出力と同じ形になるようにする
  scripts/orchestrate-decisions.test.ts
Due: lint, format

fix: 消えた worktree があっても clean-worktrees が最後まで走るようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: clean-worktrees が run 外の worktree に触らないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: push されていないコミットごと branch を消さないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: reopen された PR がある branch の worktree を消さないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: 削除に失敗した worktree のロックと報告が失われないようにする
  scripts/orchestrate.ts
Due: lint, format

fix: 作業中の worktree の理由が gh の失敗に化けないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

docs: ヘッダが「読むだけ」と書いたままなのを直す
  scripts/orchestrate.ts
Due: lint, format

docs: 段落の見出しが同じ段落の指示と食い違わないようにする
  AGENTS.md
Due: none

fix: 消えた worktree を残したと報告しないようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: 古い OPEN の PR が一覧の打ち切りで見えなくなるのを防ぐ
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

feat: 終わった worker の worktree を自動で片付けられるようにする (#121)
  AGENTS.md
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
