Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

test: ケース表が 1 つの bash process で答えられる
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

fix: glob を書いた find の search root も届く範囲で判定される
  .claude/hooks/pre-bash-guard-decision.sh
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

refactor: heredoc を書いていない command が行分割を通らない
  .claude/hooks/pre-bash-guard-decision.sh
Due: none

refactor: PreToolUse の判定が process を起動せずに済む (#183)
  .claude/hooks/pre-bash-guard-decision.sh
  .claude/hooks/pre-bash-guard-decision.test.ts
Due: lint, format

docs: Degraded Environments が classifier の挙動を Claude Code の docs に委ねる
  AGENTS.md
Due: none

docs: dispatch の上限は判断が読む数値だけを残し、run の履歴を落とす
  AGENTS.md
Due: none

docs: AGENTS.md の中で別の文が既に言っている 4 文を落とす
  AGENTS.md
Due: none

docs: prose.md の同じ主張を二度言う 3 箇所を 1 文にする
  .claude/rules/prose.md
Due: none

docs: ticket-work のレビューが code-reviewer 1 体で終わる
  .claude/skills/ticket-work/SKILL.md
Due: none

docs: code-reviewer が reuse と efficiency と altitude も見る
  .claude/agents/code-reviewer.md
Due: none

fix: code-reviewer が simplify skill を起動できなくなる
  .claude/agents/code-reviewer.md
Due: none

docs: codex-delegation が step 7 の走らせるレビューだけを指す
  .claude/skills/codex-delegation/SKILL.md
Due: none

docs: ticket-work のレビューが code-reviewer 1 体で終わる (#185)
  .claude/agents/code-reviewer.md
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/ticket-work/SKILL.md
Due: none

test: Stop gate のケースが git の履歴を 1 度しか作らない
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: Stop gate のケースが hook の起動を待ち合わせずに済む
  .claude/hooks/pre-bash-guard.test.ts
  .claude/hooks/run-bash.ts
  .claude/hooks/stop-gate.test.ts
Due: lint, format

fix: pre-bash-guard の scratch tree が別の case の終了で消えない
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

refactor: Stop gate の case が .claude/hooks を作り直さない
  .claude/hooks/stop-gate.test.ts
Due: lint, format

docs: react.md への pointer が non-component value の置き場も名指す
  AGENTS.md
Due: none

docs: soft_deny の数え上げが Git Destructive を落とさない
  AGENTS.md
Due: none

docs: auto mode の設定元が managed settings を除外しない
  AGENTS.md
Due: none

docs: prose.md の畳んだ文で「which」が評価回避の主語に戻る
  .claude/rules/prose.md
Due: none

docs: dispatch の箇条が計測なしの主張と狭すぎる条件を持たない
  AGENTS.md
Due: none

refactor: runBash に testcase の届かない分岐が残らない
  .claude/hooks/run-bash.ts
Due: lint, format

docs: AGENTS.md と prose.md が同じ規則を一度だけ述べる (#184)
  .claude/rules/prose.md
  AGENTS.md
Due: none

docs: stop-gate.test.ts のコメントの数が実際と合う
  .claude/hooks/stop-gate.test.ts
Due: lint, format

fix: case を 1 つも選ばない run が tmp にディレクトリを残さない
  .claude/hooks/pre-bash-guard.test.ts
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: hook のテストが process の起動を待ち合わせずに済む (#186)
  .claude/hooks/pre-bash-guard.test.ts
  .claude/hooks/run-bash.ts
  .claude/hooks/stop-gate.test.ts
Due: lint, format

chore: worker が worktree 内の AGENTS.md を二重に読まず、gh の読み取りが classifier を通らない
  .claude/settings.json
Due: format

chore: worker が worktree 内の AGENTS.md を二重に読まず、gh の読み取りが classifier を通らない (#187)
  .claude/settings.json
Due: format

fix: code-reviewer の description をクォートして YAML を正す
  .claude/agents/code-reviewer.md
Due: none

fix: code-reviewer の description をクォートして YAML を正す (#193)
  .claude/agents/code-reviewer.md
Due: none

fix: .claude の description をクォートして YAML を正す
  .claude/rules/prose.md
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/dispatch-run/SKILL.md
  .claude/skills/ticket-work/SKILL.md
Due: none

chore: Claude frontmatter の YAML パースを CI で検証する
  .github/workflows/ci.yaml
  README.md
  scripts/check-claude-frontmatter.entry.ts
  scripts/claude-frontmatter.test.ts
  scripts/claude-frontmatter.ts
Due: lint, format

chore: .cursor/skills と .cursor/agents の複製を CI で拒否する
  AGENTS.md
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
Due: lint, format

chore: Claude / Cursor 共有設定の同期を揃える (#194)
  .claude/rules/prose.md
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/dispatch-run/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  scripts/check-claude-frontmatter.entry.ts
  scripts/claude-frontmatter.test.ts
  scripts/claude-frontmatter.ts
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
Due: lint, format

chore: 開いている互換 Dependabot 更新を取り込み Better Auth 1.7 の issuer を足す
  bun.lock
  package.json
  src/lib/drizzle/migrations/0001_melted_magneto.sql
  src/lib/drizzle/migrations/meta/0001_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
Due: lint, format

chore: 開いている互換 Dependabot 更新を取り込み Better Auth 1.7 の issuer を足す (#195)
  bun.lock
  package.json
  src/lib/drizzle/migrations/0001_melted_magneto.sql
  src/lib/drizzle/migrations/meta/0001_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
Due: lint, format

fix: browserslist を 4.28.9 に固定して CVE-2026-73088 を外す
  bun.lock
  package.json
Due: format
