Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

chore: フレームワークデフォルトと重複する client.tsx が消え、knip が green になる
  knip.json
  src/client.tsx
Due: lint, format

chore: 発火し得ない permission と重複エントリが settings.json から消える
  .claude/settings.json
Due: format

feat: Cursor セッションでもフックのゲート群が実際に発火する
  .claude/hooks/post-aegis-compile.sh
  .claude/hooks/post-aegis-share-sync.sh
  .claude/hooks/post-agent-review-stamp.sh
  .claude/hooks/post-bash-stamp-consume.sh
  .claude/hooks/pre-aegis-compile-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-agent-review-clear.sh
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  .cursor/mcp.json
Due: format

feat: Cursor セッションでも定型コマンドと Aegis MCP が承認なしで走る
  .cursor/permissions.json
Due: format

chore: knip の ignore から発火しなくなった router.tsx 指定が消える
  knip.json
Due: format

fix: Object URL リークやルートプロパティ順の型推論破壊が解消される
  src/components/features/profile-page/ProfilePage.tsx
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/shared/header/Header.tsx
  src/components/shared/header/user-menu/UserMenu.tsx
  src/components/shared/mode-toggle/ModeToggle.tsx
  src/entities/user/index.ts
  src/routes/__root.tsx
  src/routes/auth.auth-code-error.tsx
  src/test-setup.ts
Due: lint, format

feat: react-doctor の 638 ルールが日常の oxlint 検査で走る
  .oxlintrc.json
  .oxlintrc.react-doctor.json
  bun.lock
  package.json
Due: format

docs: コメント・PR 文章・git 履歴運用の規律が AGENTS.md に載る
  AGENTS.md
Due: none

fix: Cursorセッションでもレビュースタンプの拒否が可視化される
  .claude/hooks/post-agent-review-stamp.sh
  scripts/test-review-gate.py
Due: none

fix: コミットゲートの案内が存在しないエージェントを指示しない
  .claude/hooks/pre-bash-guard.sh
Due: none

feat: TanStack Devtools を導入
  bun.lock
  package.json
  src/routes/__root.tsx
  vite.config.ts
Due: lint, format

fix: Cloud Agent セッションでコミットゲートのスタンプが押されるようにする
  .cursor/hooks.json
  .cursor/hooks/subagent-stop-review-stamp.sh
Due: format

fix: 効いていない lint 抑制コメントを削除する
  src/server/cloudflare.ts
Due: lint, format

chore: Node の最低要件を engines で宣言する
  package.json
Due: format

fix: 古い Node による品質ゲートのサイレント劣化をセッション開始時に可視化する
  .claude/hooks/session-start-env-check.sh
Due: none

fix: TanStack Router の型登録欠落で useLoaderData が any になる問題を解消
  src/router.tsx
Due: lint, format

fix: TanStack Start の廃止 API inputValidator を validator へ移行
  src/server/fn/profile.ts
Due: lint, format

refactor: type-aware ルールが検出する非同期表記と nullable 条件を整える
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/shared/header/user-menu/UserMenu.tsx
  src/components/ui/form.tsx
  src/gateways/user/index.ts
  src/lib/auth/session.ts
  src/routes/api/auth.$.ts
  src/routes/api/avatars.ts
  src/server/fn/user.ts
  src/ssr.tsx
Due: lint, format

chore: oxlint に型情報ベースの検査ルールを拡充する
  .oxlintrc.json
Due: format

fix: 自作 lint プラグインを検査対象に加え、型なし内部だけ any 系ルールを除外する
  .oxlintrc.json
  package.json
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  tools/oxlint-plugins/style-rules.js
  tools/oxlint-plugins/style-rules.test.ts
Due: lint, format

feat: src レイヤー境界(ADR-0016)を lint で機械的に強制する
  .oxlintrc.json
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: component-file-naming が空ステムやドット始まりのファイル名で落ちる問題を解消
  tools/oxlint-plugins/arch-rules.js
Due: lint, format

fix: seed スクリプトの常に偽になる分岐と禁止ループを解消する
  scripts/seed-local.ts
Due: lint, format

feat: 添字アクセスと省略可能プロパティの型検査を厳格化する
  scripts/seed-local.ts
  src/components/shared/mode-toggle/ModeToggle.tsx
  src/components/ui/dropdown-menu.tsx
  src/gateways/user/index.ts
  src/lib/storage/avatar-validation.ts
  tsconfig.json
Due: lint, format

test: 純関数モジュールに分岐カバレッジ 100% ゲートを導入する
  bun.lock
  package.json
  tools/oxlint-plugins/arch-rules.test.ts
  tools/oxlint-plugins/style-rules.test.ts
  vitest.config.mts
Due: lint, format

chore: perf カテゴリと循環 import・React Context・テスト条件分岐の検査を追加する
  .oxlintrc.json
  src/components/ui/form.tsx
  src/entities/user/index.test.ts
Due: lint, format

feat: mise で Node / Bun の版を固定し Cloud Agent 環境でもビルド可能にする
  .cursor/environment.json
  README.md
  mise.toml
  scripts/cloud-agent-install.sh
Due: format

docs: 内部状態の分岐を外から駆動できる設計をルールに明文化する
  .claude/rules/react.md
Due: none

docs: 遷移ロジックの語彙を transition function に統一する
  .claude/rules/react.md
Due: none

docs: Testable Behavior Extraction の文言を簡潔にする
  .claude/rules/react.md
Due: none

docs: react.md がプロジェクト非依存の React 原則だけを持つ
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: react.md から AGENTS.md への参照が消え完全非依存になる
  .claude/rules/react.md
Due: none

feat: ホバー+⌘C で UI 要素のソース位置をエージェントに渡せる
  bun.lock
  package.json
  src/env.d.ts
  src/routes/__root.tsx
Due: lint, format

chore: Bun と依存更新の再現性を高める
  .github/dependabot.yml
  bun.lock
  mise.toml
  package.json
Due: format

fix: 認証設定の欠落を即時検出する
  src/lib/auth/auth.ts
  src/lib/auth/required-secret.test.ts
  src/lib/auth/required-secret.ts
Due: lint, format

fix: 認可とアバター更新の整合性を保証する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0016.md
  specs/avatar-read.spec.md
  specs/avatar-upload.spec.md
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/server/fn/avatar.test.ts
  src/server/fn/avatar.ts
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: セットアップ手順を実行境界に合わせる
  .claude/skills/aegis-setup/SKILL.md
  .env.local.example
  README.md
  docs/DATABASE_SETUP.md
  docs/DEPLOYMENT.md
Due: none

test: 認可境界のレビュー回帰を計測可能にする
  scripts/evals/review-diff/README.md
  scripts/evals/review-diff/fx-09/expected.md
  scripts/evals/review-diff/fx-09/seed.patch
Due: none

test: 認可境界 fixture の検出結果を記録する
  scripts/evals/review-diff/results/2026-08-13-fx09-architecture.md
  scripts/evals/review-diff/results/2026-08-13-fx09-architecture/fx-09.md
Due: none

test: review eval の現行性と修正品質計測を回復する
  scripts/evals/review-diff/README.md
  scripts/evals/review-diff/fx-07/expected.md
  scripts/evals/review-diff/fx-07/seed.patch
  scripts/evals/review-diff/fx-08/expected.md
  scripts/evals/review-diff/fx-08/seed.patch
  scripts/evals/review-diff/fx-10/expected.md
  scripts/evals/review-diff/fx-10/seed.patch
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
