Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: セッション開始時の待ち時間を短縮する
  .claude/hooks/session-start-aegis-hydrate.sh
Due: none

refactor: 方法論の規律を常時ロードの規約に直接置く
  .claude/settings.json
  .claude/skills/start-workflow/SKILL.md
  AGENTS.md
Due: format

refactor: プロセス強制を hook 7本に畳む
  .claude/hooks/post-aegis-compile.sh
  .claude/hooks/post-aegis-share-sync.sh
  .claude/hooks/pre-aegis-compile-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/session-start-aegis-hydrate.sh
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/hooks/user-prompt-gate.sh
  .claude/rules/aegis.md
  .claude/settings.json
  .claude/skills/aegis-setup/SKILL.md
  .cursor/mcp.json
  .cursor/permissions.json
  .cursor/rules/aegis.mdc
  .gitignore
  .mcp.json
  AGENTS.md
  docs/agent-workflow.md
  scripts/test-aegis-gate.py
Due: format

refactor: コミットゲートがレビューの範囲で判断する
  .claude/hooks/lib-review-scope.sh
  .claude/hooks/post-agent-review-stamp.sh
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/session-start-env-check.sh
  .claude/settings.json
  .claude/skills/review-diff/SKILL.md
  .gitignore
  AGENTS.md
  scripts/test-bash-guard.py
  scripts/test-review-gate.py
  scripts/test-review-scope.py
Due: format

refactor: チケット作業の手順を常時ロードの規約が持つ
  .claude/skills/aegis-bulk-import/SKILL.md
  .claude/skills/aegis-ops/SKILL.md
  .claude/skills/aegis-setup/SKILL.md
  .claude/skills/aegis-triage/SKILL.md
  .claude/skills/remove-db/SKILL.md
  .claude/skills/repo-audit/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  .claude/skills/write-adr/SKILL.md
  AGENTS.md
  docs/agent-workflow.md
Due: none

docs: エージェント運用の説明を現構成に合わせる
  .gitignore
  README.md
  docs/FORKING.md
  docs/agent-workflow.md
  scripts/evals/review-diff/README.md
  scripts/evals/verify-spec/README.md
Due: none

docs: テストの規約が一箇所で読める
  AGENTS.md
Due: none

docs: コメントの規約が一箇所で読める
  AGENTS.md
Due: none

docs: 設定コメントが自分より外を主語にしない
  vitest.config.mts
Due: none

docs: スキル定義から効かない frontmatter キーを外す
  .claude/skills/remove-db/SKILL.md
  .claude/skills/repo-audit/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/verify-spec/SKILL.md
Due: none

fix: remove-db の手順がデプロイとカバレッジゲートを壊さなくなる
  .claude/skills/remove-db/SKILL.md
Due: none

docs: README と DB セットアップ手順が実態と一致する
  README.md
  docs/DATABASE_SETUP.md
Due: none

refactor: フォーク時の残す/捨てる判定が列挙に依存しなくなる
  docs/FORKING.md
Due: none

docs: code-reviewer のモデル選定根拠が記録に残る
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx01.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx06.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx07.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx08.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx09.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/opus-fx10.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx01.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx06.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx07.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx08.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx09.md
  scripts/evals/review-diff/results/2026-08-13-sonnet-opus-current/sonnet-fx10.md
Due: none

fix: プロフィール保存後に画面がサーバの値を反映する
  bun.lock
  package.json
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/features/profile-page/profile-form/profile-submit.test.ts
  src/components/features/profile-page/profile-form/profile-submit.ts
  src/router.tsx
  vitest.config.mts
Due: lint, format

refactor: UI からサーバ境界への直参照を lint が止める
  src/client/profile-submit.test.ts
  src/client/profile-submit.ts
  src/client/profile.ts
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vitest.config.mts
Due: lint, format

docs: Hono + oRPC 認可境界の設計を state machine で持つ
  specs/server-boundary.spec.md
Due: none

refactor: ルートのデータ取得が client 層を経由する
  src/client/user.ts
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/routes/__root.tsx
  src/routes/profile.tsx
Due: lint, format

feat: /api/* を Hono が持つ
  bun.lock
  package.json
  src/routes/api/$.ts
  src/routes/api/auth.$.ts
  src/server/app.ts
  src/server/handlers/avatar.test.ts
  src/server/handlers/avatar.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: /api/* が Hono に移ったことを指示文書が反映する
  .claude/skills/remove-db/SKILL.md
  README.md
Due: none

feat: server-client 境界が oRPC の契約になる
  bun.lock
  package.json
  src/client/orpc.ts
  src/client/profile-submit.test.ts
  src/client/profile-submit.ts
  src/client/profile.ts
  src/client/user.ts
  src/server/app.ts
  src/server/router/index.ts
  src/server/router/middleware.test.ts
  src/server/router/middleware.ts
  src/server/router/profile.test.ts
  src/server/router/profile.ts
  src/server/router/user.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: createServerFn がリポジトリから消える
  knip.json
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
  src/server/handlers/avatar-read.test.ts
  src/server/handlers/avatar-read.ts
  src/server/handlers/avatar.test.ts
  src/server/handlers/avatar.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: 層の記述が oRPC 移行後の実態に追いつく
  .claude/skills/remove-db/SKILL.md
  AGENTS.md
  README.md
  specs/avatar-read.spec.md
  specs/server-boundary.spec.md
Due: none

test: 認可境界の並行性とパリティがテストで固定される
  src/server/router/middleware.test.ts
  src/server/router/parity.test.ts
Due: lint, format

feat: バインディングに触るモジュールが既定拒否になる
  .oxlintrc.json
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: 宿題の記述が実装された内容を指す
  AGENTS.md
  specs/server-boundary.spec.md
Due: none

Revert "移行本体": createServerFn から oRPC への移行を戻す
  .claude/skills/remove-db/SKILL.md
  .oxlintrc.json
  AGENTS.md
  README.md
  bun.lock
  knip.json
  package.json
  specs/avatar-read.spec.md
  specs/server-boundary.spec.md
  src/client/orpc.ts
  src/client/profile-submit.test.ts
  src/client/profile-submit.ts
  src/client/profile.ts
  src/client/user.ts
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/router.tsx
  src/routes/__root.tsx
  src/routes/api/$.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/auth.$.ts
  src/routes/api/avatars.ts
  src/routes/profile.tsx
  src/server/app.ts
  src/server/fn/avatar.test.ts
  src/server/fn/avatar.ts
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
  src/server/router/index.ts
  src/server/router/middleware.test.ts
  src/server/router/middleware.ts
  src/server/router/parity.test.ts
  src/server/router/profile.test.ts
  src/server/router/profile.ts
  src/server/router/user.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vitest.config.mts
Due: lint, format

docs: サーバ境界を動かす場合の前提が残る
  README.md
  docs/SERVER_BOUNDARY.md
Due: none

docs: レビュー指摘の適用がスタンプを保つ条件を正確にする
  AGENTS.md
Due: none

docs: 事実の語で報告する規律が全ての文章に効く
  AGENTS.md
Due: none

docs: エージェント側が持つ設定をこちらの文書が固定しない
  .claude/skills/review-diff/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  AGENTS.md
Due: none

refactor: レビューをゲートではなく規律で担保する
  .claude/agents/code-reviewer.md
  .claude/agents/spec-verifier.md
  .claude/hooks/lib-commit-shape.sh
  .claude/hooks/lib-review-scope.sh
  .claude/hooks/post-agent-review-stamp.sh
  .claude/hooks/post-bash-stamp-consume.sh
  .claude/hooks/pre-agent-review-clear.sh
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/session-start-env-check.sh
  .claude/settings.json
  .claude/skills/review-diff/SKILL.md
  .cursor/hooks.json
  .cursor/hooks/subagent-stop-review-stamp.sh
  .cursor/permissions.json
  .gitignore
  AGENTS.md
  README.md
  scripts/test-bash-guard.py
  scripts/test-review-gate.py
  scripts/test-review-scope.py
Due: format

feat: lefthook 未導入がセッション開始時に見える
  .claude/hooks/session-start-env-check.sh
Due: none

fix: コミットメッセージ本文が保護ファイルの参照と見なされない
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.py
Due: none

fix: 複数行のメッセージ本文も参照ではなく文章として扱われる
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.py
Due: none

refactor: チケット作業の手順を skill が持ち、規約はそれを指す
  .claude/skills/repo-audit/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  AGENTS.md
Due: none

docs: 行動の指示は参照ではなく行動そのものを書く
  AGENTS.md
Due: none

chore: code-reviewer のモデルをハーネスが選ぶ
  .claude/agents/code-reviewer.md
Due: none

refactor: エージェントの運用判断を規約から外す
  .claude/hooks/session-start-env-check.sh
  .claude/skills/repo-audit/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
