Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

refactor: テスト設定が死んだスタブを持たない
  src/test-setup.ts
Due: lint, format

docs: SSR ガードの例が両方のルールを通る
  .claude/rules/react.md
Due: none

chore: aegis の残骸をリポジトリから外す
  .aegis/.gitignore
Due: none

docs: コメント要求に名前と型で答える手が決まる
  AGENTS.md
Due: none

chore: tanstack 系が最新パッチに追いつく
  bun.lock
  package.json
Due: format

chore: lucide-react が 1.33.0 のアイコンを持つ
  bun.lock
  package.json
Due: format

chore: @hookform/resolvers が 5.9.1 になる
  bun.lock
  package.json
Due: format

chore: react-grab が 0.2.0 になる
  bun.lock
  package.json
Due: format

chore: @types/node が 26.2.0 になる
  bun.lock
  package.json
Due: format

docs: ルールが外部出典への依存を持たない
  .claude/rules/design.md
  .claude/rules/prose.md
Due: none

docs: 前の文に呼応する語を次の文の前に置く規則が入る
  .claude/rules/prose.md
Due: none

fix: spacing のルールが実在するスケールを指す
  .claude/rules/design.md
Due: none

docs: design.md が同じ判断を一度だけ書く
  .claude/rules/design.md
Due: none

docs: 和文の行間ルールが主語を持つ
  .claude/rules/design.md
Due: none

fix: グラデーションの案内が現行ブラウザに合う
  .claude/rules/design.md
Due: none

docs: ブラウザ差でない規定が Cross-browser 節から出る
  .claude/rules/design.md
Due: none

fix: react.md の説明が中身と出典に合う
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: カバレッジ設定のコメントが和文のダッシュを使わない
  vitest.config.mts
Due: none

fix: react-doctor スキルが現行 CLI と噛み合う
  .claude/skills/react-doctor/SKILL.md
Due: none

docs: hover の要求が一度だけ書かれる
  .claude/rules/design.md
Due: none

fix: page-audit が初回実行で止まらない
  .claude/skills/page-audit/SKILL.md
Due: none

chore: react-doctor のバージョンが dependabot の追従下に入る
  .claude/skills/react-doctor/SKILL.md
  bun.lock
  package.json
Due: format

fix: /doctor が取得する playbook より AGENTS.md が優先される
  .claude/skills/react-doctor/SKILL.md
Due: none

fix: アバター編集ボタンがスクリーンリーダーに名前を伝える
  src/components/features/profile-page/profile-form/profile-form.tsx
Due: lint, format

refactor: テーマ遷移が到達不能な分岐を持たない
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/components/shared/mode-toggle/theme-cycle.test.ts
  src/components/shared/mode-toggle/theme-cycle.ts
  vitest.config.mts
Due: lint, format

fix: pre-commit の lint がルート直下のファイルでコミットを止めない
  lefthook.yml
Due: none

chore: react-doctor の走査対象がソースに絞られる
  doctor.config.ts
Due: lint, format

fix: vitest 設定が ESM の dirname を使う
  vitest.config.mts
Due: none

chore: lint と format がルート直下のファイルも見る
  .oxfmtrc.json
  lefthook.yml
  oxlint.config.ts
  oxlint.react-doctor.ts
  package.json
Due: lint, format

refactor: stop gate がツリー全体を判定する検査を持たない
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  lefthook.yml
Due: format

feat: react-doctor が pre-commit と CI で走る
  .github/workflows/ci.yaml
  lefthook.yml
Due: none

chore: 未使用の値と import 構文の揺れを型検査が捕まえる
  tsconfig.json
Due: format

chore: ワークフローの字下げがリポジトリの他の YAML と揃う
  .github/workflows/ci.yaml
Due: none

chore: oxfmt が YAML と TOML を検査し Markdown に触らない
  .oxfmtrc.json
  lefthook.yml
  package.json
Due: format

chore: import と Tailwind クラスの並びを oxfmt が決める
  .github/workflows/ci.yaml
  .oxfmtrc.json
  knip.json
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/features/profile-page/profile-page.tsx
  src/components/shared/code-block/code-block.tsx
  src/components/shared/header/header.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/routes/__root.tsx
  src/routes/auth.auth-code-error.tsx
  src/routes/index.tsx
  src/server/fn/user.ts
  src/test/router-utils.tsx
  vite.config.ts
  vitest.config.mts
Due: lint, format

chore: 公開直後のパッケージがインストールされない
  .github/dependabot.yml
  bunfig.toml
Due: none

chore: ワークフローの式と action の入力を CI が検査する
  .github/workflows/ci.yaml
Due: none

chore: エディタの保存時整形がリポジトリの設定と一致する
  .editorconfig
  .vscode/extensions.json
  .vscode/settings.json
Due: format

docs: dependabot のコメントが自分の行だけを述べる
  .github/dependabot.yml
Due: none

chore: ワークフローの検査が push 前にも走る
  .claude/hooks/session-start-env-check.sh
  README.md
  lefthook.yml
  mise.toml
  src/routes/index.tsx
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
