Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

docs: ADR-0013 の「deny が宣言された境界」という記述を ADR-0017 に向け直す
  aegis-share/source/documents/adr-0013.md
  docs/adr/0013-deterministic-enforcement-gates.md
  docs/adr/README.md
Due: none

docs: デプロイ・ロールバック・シークレット運用の手順書を追加する
  docs/DEPLOYMENT.md
Due: none

fix: Cloudflare API トークンの権限指示を D1 のみに絞る
  docs/DATABASE_SETUP.md
Due: none

chore: aegis KB を v101 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format

chore: aegis KB を v94 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format

docs: ADR-0004 に ADR-0017 への改訂ポインタを張り、撤回された判断の原文を残す
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/README.md
Due: none

docs: src のレイヤ契約を ADR-0016 として起票する
  AGENTS.md
  aegis-share/source/documents/adr-0016.md
  aegis-share/source/edges/path-requires.json
  docs/adr/0016-src-layering.md
  docs/adr/README.md
Due: format

docs: 秘密の境界を「アクセス」から「値」へ移す決定を ADR-0017 として起票する
  .env.local.example
  aegis-share/source/documents/adr-0017.md
  aegis-share/source/edges/path-requires.json
  docs/DEPLOYMENT.md
  docs/adr/0017-secret-value-boundary.md
  docs/adr/README.md
Due: format

docs: 権限テーブルを allow リスト縮小後の実態に合わせる
  docs/agent-workflow.md
Due: none

docs: repo-audit 2回目の所見を記録する
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

docs: README から運用と fork の手順書へリンクする
  README.md
Due: none

docs: DATABASE_SETUP の Next.js 前提とポート・デプロイ先の誤りを正す
  docs/DATABASE_SETUP.md
Due: none

docs: spec 検証の記述を ADR-0015 のフラット2エージェントに追随させる
  docs/agent-workflow.md
  specs/README.md
Due: none

docs: README のスクリプト表に db:* を補う
  README.md
Due: none

docs: テンプレートを新規プロジェクトに使う手順書を追加する
  docs/FORKING.md
Due: none

docs: 監査の実施結果と実行中に判明した所見を記録する
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

fix: components.json を TanStack Start の実構成に合わせフォーマッタへ揃える
  components.json
Due: format

fix: 空ファイル選択時にサイズ超過のメッセージが出るのを直す
  src/components/features/profile-page/profile-form/ProfileForm.tsx
Due: lint, format

fix: drizzle-kit generate の直接実行も確認付きにする
  .claude/settings.json
  aegis-share/source/documents/adr-0017.md
  docs/adr/0017-secret-value-boundary.md
Due: format

fix: ADR-0016 の「gateway は request context を読まない」を実態に合わせる
  aegis-share/source/documents/adr-0016.md
  docs/adr/0016-src-layering.md
Due: none

docs: ADR-0004 の allow スクリプト一覧に cf-typegen を補う
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
Due: none

chore: aegis KB を v102 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format

fix: 型アサーションと lint 抑制コメントを型宣言で解消する
  src/components/ui/form.tsx
  src/components/ui/sonner.tsx
Due: lint, format

chore: lint / format / 未使用検出のゲートツールを最新へ上げる
  bun.lock
  package.json
Due: format

fix: コードブロックのアクセシブル名とキーボード操作性を両立させる
  .oxlintrc.json
  src/routes/index.tsx
Due: lint, format

fix: アバターアップロードのサイズ上限をサーバ側で強制する
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/lib/storage/avatar-validation.test.ts
  src/lib/storage/avatar-validation.ts
  src/server/fn/profile.ts
Due: lint, format

fix: セッションが公開既定シークレットで署名される状態を塞ぐ
  src/lib/auth/auth.ts
Due: lint, format

chore: knip の追跡対象に CSS を含めて設定を簡素化する
  knip.json
Due: format

refactor: クライアント認証アクションを auth/actions.ts へ移す
  src/components/shared/header/user-menu/UserMenu.tsx
  src/lib/auth/actions.ts
  src/routes/login.tsx
Due: lint, format

fix: allow リストの広さによる deny 境界の迂回路を塞ぐ
  .claude/settings.json
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
Due: format

chore: エージェントに cf-typegen の無確認実行を許可する
  .claude/settings.json
Due: format

fix: 環境変数ファイル保護から評価されない Write deny エントリを取り除く
  .claude/settings.json
Due: format

docs: ADR-0008 に path-scoped rules の復活を改訂記録する
  aegis-share/source/documents/adr-0008.md
  docs/adr/0008-consolidate-rules-into-agents-md.md
Due: none
