Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

chore: Agent Teams を settings.json 既定からセッション単位の opt-in にする
  .claude/settings.json
Due: format

feat: 強制ゲートを transcript grep から決定論的な成果物ベースへ刷新する (ADR-0013)
  .claude/hooks/post-aegis-compile.sh
  .claude/hooks/post-edit-check.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/pre-commit-guard.sh
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/hooks/user-prompt-gate.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/settings.json
  .gitignore
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/0011-nested-subagent-review-and-verification.md
  docs/adr/0013-deterministic-enforcement-gates.md
Due: format

docs: ADR-0012 を起票し委譲基準の宙に浮いた参照を解決する
  .claude/skills/start-workflow/SKILL.md
  docs/adr/0012-parent-centric-implementation.md
  docs/adr/README.md
Due: none

docs: プロセスの絶対命令を AGENTS.md に一元化し Degraded Environments を定義する
  AGENTS.md
  docs/agent-workflow.md
Due: none

fix: lefthook を devDependencies に移し pre-commit を check-only 化する
  .husky/pre-commit
  .husky/pre-push
  .husky/prepare-commit-msg
  bun.lockb
  knip.json
  lefthook.yml
  package.json
Due: format

test: プロダクトコードに模範テストを追加し no-test パスを廃止する
  src/entities/user/index.test.ts
  src/lib/utils.test.ts
  vitest.config.mts
Due: lint, format

feat: CI に knip を追加しローカル Stop gate と品質基準を揃える
  .github/workflows/ci.yaml
Due: none

chore: ADR-0012/0013 を Aegis KB に登録し bundle を v81 で再生成する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0004.md
  aegis-share/source/documents/adr-0011.md
  aegis-share/source/documents/adr-0012.md
  aegis-share/source/documents/adr-0013.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
Due: format

docs: README のレビュー機構説明を現行の ADR-0011/0013 に同期する
  README.md
Due: none

fix: 脆弱性勧告のある直接依存を更新し CI の監査ゲートを通す
  bun.lock
  bun.lockb
  package.json
Due: format

fix: PR レビュー指摘に対応 (stop-gate のファイル名処理と ADR ステータス表記)
  .claude/hooks/stop-gate.sh
  docs/adr/README.md
Due: none

chore: vite のビルド成果物 dist/ を gitignore に追加する
  .gitignore
Due: none

docs: ADR README を英語化し agent-facing docs の言語規約に合わせる
  docs/adr/README.md
Due: none

fix: ADR-0003 のヘッダを superseded by 0012 に更新し索引との不整合を解消する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0003.md
  docs/adr/0003-subagent-driven-implementation.md
Due: format

feat: TypeScript 7 安定版へ移行し型チェックを typescript パッケージの native tsc に一本化する
  .claude/skills/remove-db/SKILL.md
  .github/workflows/ci.yaml
  README.md
  bun.lock
  package.json
  src/server/cloudflare.ts
  tsconfig.json
Due: lint, format

fix: async ハンドラを void 包みにして Promise の誤用を解消する
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/shared/header/user-menu/UserMenu.tsx
  src/routes/login.tsx
Due: lint, format

feat: Upgrade to TypeScript 7 stable (native tsc) (#27)
  .claude/skills/remove-db/SKILL.md
  .github/workflows/ci.yaml
  README.md
  bun.lock
  package.json
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/shared/header/user-menu/UserMenu.tsx
  src/routes/login.tsx
  src/server/cloudflare.ts
  tsconfig.json
Due: lint, format

chore: lefthook を v2 系に更新し hooks インストールの健全性検査を得る
  bun.lock
  package.json
Due: format

chore: Cloudflare ツールチェーン(wrangler / vite-plugin)を更新する
  bun.lock
  package.json
Due: format

chore: 未使用の @cloudflare/workers-types を直接依存から外す
  bun.lock
  package.json
Due: format

chore: tailwindcss / @tailwindcss/vite を 4.3.2 に揃えて更新する
  bun.lock
  package.json
Due: format

chore: @radix-ui/react-dropdown-menu を 2.1.17 に更新する
  bun.lock
  package.json
Due: format

chore: actions/checkout を v7.0.0 に更新する
  .github/workflows/ci.yaml
Due: none

chore: Consolidate open Dependabot updates (lefthook 2, wrangler 4.109, tailwind 4.3.2, checkout v7) (#28)
  .github/workflows/ci.yaml
  bun.lock
  package.json
Due: format

feat: code-reviewer の golden eval ハーネスとフィクスチャ5本を導入する
  docs/superpowers/evals/review-diff/README.md
  docs/superpowers/evals/review-diff/fx-01/expected.md
  docs/superpowers/evals/review-diff/fx-01/seed.patch
  docs/superpowers/evals/review-diff/fx-02/expected.md
  docs/superpowers/evals/review-diff/fx-02/seed.patch
  docs/superpowers/evals/review-diff/fx-03/expected.md
  docs/superpowers/evals/review-diff/fx-03/seed.patch
  docs/superpowers/evals/review-diff/fx-04/expected.md
  docs/superpowers/evals/review-diff/fx-04/seed.patch
  docs/superpowers/evals/review-diff/fx-05/expected.md
  docs/superpowers/evals/review-diff/fx-05/prior-report.md
  docs/superpowers/evals/review-diff/fx-05/seed.patch
  docs/superpowers/plans/2026-07-10-model-quality-continuity.md
  docs/superpowers/specs/2026-07-10-model-quality-continuity-design.md
Due: none

feat: sonnet レビュアーのベースライン計測結果を記録する
  docs/superpowers/evals/review-diff/results/2026-07-10-baseline-sonnet.md
Due: none

feat: review-diff にデルタ再レビューモードを追加し非Fable親の運用規則を明文化する
  .claude/skills/review-diff/SKILL.md
  AGENTS.md
  docs/agent-workflow.md
  docs/superpowers/plans/2026-07-10-model-quality-continuity.md
Due: none

feat: デルタ再レビューモードの効果計測を記録する
  docs/superpowers/evals/review-diff/results/2026-07-10-delta-mode.md
Due: none

docs: ADR-0014(eval統治・デルタ再レビュー・repo-audit)を記録し KB に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0011.md
  aegis-share/source/documents/adr-0014.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
  docs/adr/0011-nested-subagent-review-and-verification.md
  docs/adr/0014-measurement-first-model-continuity.md
  docs/adr/README.md
Due: format

feat: 最良モデルの監査サイクル(repo-audit)を既存レールに接続する
  .claude/skills/repo-audit/SKILL.md
  docs/agent-workflow.md
  docs/superpowers/specs/2026-07-10-repo-audit-findings.md
Due: none

docs: agent-workflow に監査/eval サイクルとデルタ再レビューを反映する
  docs/agent-workflow.md
Due: none

refactor: レビューを finder→verifier のフラット2段に作り替え品質パイプラインを堅牢化する
  .claude/agents/code-reviewer.md
  .claude/agents/review-verifier.md
  .claude/hooks/post-agent-review-stamp.sh
  .claude/hooks/pre-aegis-compile-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-agent-review-clear.sh
  .claude/hooks/session-start-env-check.sh
  .claude/settings.json
  .claude/skills/repo-audit/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  .gitignore
  AGENTS.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0011.md
  aegis-share/source/documents/adr-0014.md
  aegis-share/source/documents/adr-0015.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
  docs/adr/0011-nested-subagent-review-and-verification.md
  docs/adr/0014-measurement-first-model-continuity.md
  docs/adr/0015-flat-review-pipeline.md
  docs/adr/README.md
  docs/agent-workflow.md
  docs/superpowers/evals/review-diff/README.md
  docs/superpowers/evals/review-diff/fx-06/expected.md
  docs/superpowers/evals/review-diff/fx-06/seed.patch
  docs/superpowers/evals/review-diff/fx-07/expected.md
  docs/superpowers/evals/review-diff/fx-07/seed.patch
Due: format

feat: フラットパイプラインの初回 eval 計測(FP プローブ初計測)を記録する
  docs/superpowers/evals/review-diff/results/2026-07-12-flat-pipeline.md
Due: none

fix: diff ハッシュのファイル名オプション注入を塞ぐ(cubic P2)
  .claude/hooks/post-agent-review-stamp.sh
Due: none

docs: README/agent-workflow/AGENTS を最新の機構に同期する
  AGENTS.md
  README.md
  docs/agent-workflow.md
Due: none

refactor: spec 検証をフラット2段化し review の S/N と spec eval を整える
  .claude/agents/spec-checker.md
  .claude/agents/spec-verifier.md
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  AGENTS.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0015.md
  docs/adr/0015-flat-review-pipeline.md
  docs/adr/README.md
  docs/agent-workflow.md
  docs/superpowers/evals/review-diff/README.md
  docs/superpowers/evals/verify-spec/README.md
  docs/superpowers/evals/verify-spec/sx-01/expected.md
  docs/superpowers/evals/verify-spec/sx-01/wizard.spec.md
  specs/README.md
Due: format

feat: フラット化した spec/review パイプラインの検証 eval を記録する
  docs/superpowers/evals/review-diff/results/2026-07-12-noise-suppression.md
  docs/superpowers/evals/verify-spec/results/2026-07-12-flat-spec-pipeline.md
Due: none

feat: 大型 diff フィクスチャ fx-08 とモデル階層識別用 spec フィクスチャ sx-02/03 を追加する
  docs/superpowers/evals/review-diff/README.md
  docs/superpowers/evals/review-diff/fx-08/delta.patch
  docs/superpowers/evals/review-diff/fx-08/expected.md
  docs/superpowers/evals/review-diff/fx-08/seed.patch
  docs/superpowers/evals/verify-spec/README.md
  docs/superpowers/evals/verify-spec/sx-02/checkout.spec.md
  docs/superpowers/evals/verify-spec/sx-02/expected.md
  docs/superpowers/evals/verify-spec/sx-03/draft-editor.spec.md
  docs/superpowers/evals/verify-spec/sx-03/expected.md
Due: none

docs: spec パイプラインの階層比較を記録し opus 維持を決定する
  AGENTS.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0014.md
  docs/adr/0014-measurement-first-model-continuity.md
  docs/superpowers/evals/verify-spec/results/2026-07-12-tier-comparison.md
Due: format
