Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

feat: scripts/audit-direct.sh を追加 (direct-dep 限定 audit)
  scripts/audit-direct.sh
Due: none

chore: CI を強化 (push trigger / concurrency / frozen-lockfile / audit)
  .github/workflows/ci.yaml
Due: none

chore: dependabot.yml を追加 (npm / github-actions の週次自動更新)
  .github/dependabot.yml
Due: none

docs: docs/adr/ に主要設計判断 5 件を ADR 化
  docs/adr/0001-coding-rules-via-claude-rules-include.md
  docs/adr/0002-direct-deps-only-audit.md
  docs/adr/0003-subagent-driven-implementation.md
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/0005-wrangler-types-for-cloudflare-env.md
  docs/adr/README.md
Due: none

feat: start-workflow skill を追加 (ticket 粒度作業の明示エントリ)
  .claude/skills/start-workflow/SKILL.md
Due: none

chore: superpowers プラグインを project scope で有効化
  .claude/settings.json
Due: format

feat: aegis MCP を統合し knowledge base に既存 rules / ADR を取り込む
  .claude/settings.json
  .claude/skills/aegis-bulk-import/SKILL.md
  .claude/skills/aegis-setup/SKILL.md
  .claude/skills/aegis-triage/SKILL.md
  .mcp.json
  AGENTS.md
  CLAUDE.md
Due: format

docs: ADR-0006 に orchestration レイヤリングを記録し start-workflow を整合させる
  .claude/skills/start-workflow/SKILL.md
  docs/adr/0006-orchestration-layering.md
  docs/adr/README.md
Due: none

docs: agent-workflow.md を新設し README をリンク中心に整理
  README.md
  docs/agent-workflow.md
Due: none

chore: update bun lockfile for @radix-ui/react-avatar 1.1.11
  bun.lockb
Due: none

chore: bump @tailwindcss/postcss to 4.2.4 and refresh lockfile
  bun.lockb
  package.json
Due: format

chore: update bun lockfile for @types/node 25.6.0
  bun.lockb
Due: none

chore: update bun lockfile for oxfmt 0.46.0
  bun.lockb
Due: none

chore: update bun lockfile for jsdom 29.0.2
  bun.lockb
Due: none

ci: generate Cloudflare env types before typecheck/build
  .github/workflows/ci.yaml
Due: none

ci: generate Cloudflare env types before typecheck/build (#10)
  .github/workflows/ci.yaml
Due: none

chore: Plan-then-Auto workflow を有効化し plans を .claude/plans に永続化
  .claude/settings.json
  CLAUDE.md
Due: format

chore: skill-skip 防止と Agent dispatch ガードのため hook を追加
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/settings.json
Due: format

docs: Aegis / agents プロセス規律を強化
  .claude/rules/agents.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: hook ベース運用規律を拡張 (intent_tags / near_miss / brainstorming / parent-pickup / pre-commit review)
  .claude/hooks/post-aegis-near-miss-warn.sh
  .claude/hooks/pre-aegis-intent-tags-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-commit-review-guard.sh
  .claude/hooks/pre-edit-brainstorming-guard.sh
  .claude/hooks/pre-edit-parent-pickup-guard.sh
  .claude/settings.json
Due: format

chore: hook の reason / additionalContext / systemMessage を英語化
  .claude/hooks/post-aegis-near-miss-warn.sh
  .claude/hooks/pre-aegis-intent-tags-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-commit-review-guard.sh
  .claude/hooks/pre-edit-brainstorming-guard.sh
  .claude/hooks/pre-edit-parent-pickup-guard.sh
  .claude/hooks/pre-tool-use-guard.sh
  .claude/hooks/stop-agent-review.sh
  .claude/hooks/stop-component-verify.sh
  .claude/hooks/stop-quality-gate.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/settings.json
Due: format

feat: convert english
  .claude/hooks/post-aegis-near-miss-warn.sh
  .claude/hooks/pre-aegis-intent-tags-guard.sh
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-commit-review-guard.sh
  .claude/hooks/pre-edit-brainstorming-guard.sh
  .claude/hooks/pre-edit-parent-pickup-guard.sh
  .claude/hooks/pre-tool-use-guard.sh
  .claude/hooks/stop-agent-review.sh
  .claude/hooks/stop-component-verify.sh
  .claude/hooks/stop-quality-gate.sh
  .claude/hooks/user-prompt-skill-reminder.sh
Due: none

chore: parent 専用ガードを subagent セッションでスキップ
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-commit-review-guard.sh
  .claude/hooks/pre-edit-brainstorming-guard.sh
  .claude/hooks/pre-edit-parent-pickup-guard.sh
  .claude/rules/agents.md
Due: none

chore: hook の statusMessage 文言を整える
  .claude/settings.json
Due: format

wip: scaffold TanStack Start migration
  .claude/plans/vectorized-chasing-pearl.md
  bun.lockb
  docs/adr/0007-tanstack-start-migration.md
  knip.json
  package.json
  src/client.tsx
  src/router.tsx
  src/ssr.tsx
  src/styles.css
  tsconfig.json
  vite.config.ts
Due: lint, format

chore: fix preview script and restore .next to gitignore
  .gitignore
  package.json
Due: format

docs: README を TanStack Start に更新
  README.md
Due: none

chore: remove stale serena cache files
  .serena/cache/typescript/document_symbols.pkl
  .serena/cache/typescript/raw_document_symbols.pkl
  .serena/project.yml
Due: none

refactor: pre-edit hook 3本を廃止し stop-agent-review + リマインダーに一本化
  .claude/hooks/pre-edit-brainstorming-guard.sh
  .claude/hooks/pre-edit-parent-pickup-guard.sh
  .claude/hooks/pre-tool-use-guard.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/rules/agents.md
  .claude/settings.json
Due: format

chore: CLAUDE.md / AGENTS.md の Aegis セクション更新 + plan 記述明確化
  AGENTS.md
  CLAUDE.md
Due: none

chore: oxfmt ignore に routeTree.gen.ts と .output を追加
  .oxfmtrc.json
Due: format

chore: add Cursor / Codex Aegis adapter files
  .codex/skills/aegis-bulk-import/SKILL.md
  .codex/skills/aegis-setup/SKILL.md
  .codex/skills/aegis-triage/SKILL.md
  .cursor/rules/aegis-process.mdc
  .cursor/skills/aegis-bulk-import/SKILL.md
  .cursor/skills/aegis-setup/SKILL.md
  .cursor/skills/aegis-triage/SKILL.md
Due: none

refactor: stop-agent-review を claude -p から codex exec に切り替え
  .claude/hooks/stop-agent-review.sh
Due: none

docs: agent-workflow / ADR README を日本語化、README に similarity 手順移動
  README.md
  docs/adr/README.md
  docs/agent-workflow.md
Due: none

chore: stop-agent-review から -m フラグ削除、codex config デフォルト (gpt-5.4) に委譲
  .claude/hooks/stop-agent-review.sh
Due: none

feat: /start-workflow 自律 invoke リマインダー + Aegis sync check stop hook 追加
  .claude/hooks/stop-aegis-sync-check.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/settings.json
Due: format

feat: update lock file
  bun.lockb
Due: none

fix: vite dev 警告を解消 + CI routeTree 生成ステップ追加
  .github/workflows/ci.yaml
  bun.lockb
  package.json
  src/components/shared/header/auth-navigation/AuthNavigation.tsx
  src/lib/auth/auth.ts
  src/routes/__root.tsx
  vite.config.ts
  vitest.config.mts
Due: lint, format

fix: stop-quality-gate が similarity-ignore 済みの型を誤検知する問題を修正
  .claude/hooks/stop-quality-gate.sh
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
