Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

docs: Tailwind の arbitrary value 禁止ルールを追加
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

docs: Tailwind の色透明度修飾子 -XXX/YY 禁止ルールを追加
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

docs: Tailwind の色濃淡調整は透明度ではなくシェード変更で行う旨を明記
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

docs: コンポーネントは最初からディレクトリで作成するルールに変更
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

chore: 依存バージョンを exact 固定に変更
  package.json
Due: format

docs: 依存バージョンを exact 固定するルールを明記
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

chore: Stop / PostToolUse hook を強化しハーネスに agent review を追加
  .claude/settings.json
Due: format

chore: ハーネスに PreToolUse ガードと headless Claude レビューを追加、knip/similarity を blocking 化
  .claude/hooks/pre-tool-use-guard.sh
  .claude/hooks/stop-agent-review.sh
  .claude/hooks/stop-quality-gate.sh
  .claude/settings.json
Due: format

chore: knip 設定で shadcn/ui とテンプレ残置ファイルを除外
  knip.json
Due: format

docs: テンプレ残置エクスポートと Props 型に @public / similarity-ignore で理由を付与
  src/actions/auth.ts
  src/components/features/profile-page/ProfilePage.tsx
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/shared/header/user-menu/UserMenu.tsx
  src/entities/user/index.ts
  src/lib/auth/auth-client.ts
  src/lib/auth/auth.ts
  src/lib/auth/session.ts
  src/lib/storage/r2.ts
Due: lint, format

chore: Stop component verify hook を追加 (chrome-devtools MCP で新規コンポーネント動作確認)
  .claude/hooks/stop-component-verify.sh
  .claude/settings.json
  bun.lockb
Due: format

chore: wrangler.toml のプレースホルダーをローカル開発用ダミー値に置換
  docs/DATABASE_SETUP.md
  wrangler.toml
Due: none

docs: テストルールを「スナップショット必要時のみ」に緩和し、Next.js 注意書きを簡素化
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
Due: none

chore: PR skill を追加し README に /pr を追記
  .claude/skills/pr/SKILL.md
  README.md
Due: none

docs: README の Claude Code Hooks セクションに PreToolUse/PostToolUse/Stop を追記
  README.md
Due: none

docs: AGENTS.md の Coding Style / Dependencies を英語に統一
  AGENTS.md
Due: none

docs: README のコーディング規約セクションを AGENTS.md への参照に差し替え
  README.md
Due: none

chore: coding-guide skill に YAML frontmatter を追加
  .claude/skills/coding-guide/SKILL.md
Due: none

refactor: hook のハードコードパスを $CLAUDE_PROJECT_DIR に置換
  .claude/hooks/stop-agent-review.sh
  .claude/hooks/stop-component-verify.sh
  .claude/hooks/stop-quality-gate.sh
  .claude/settings.json
Due: format

feat: メインページに日本時間を表示する Clock コンポーネントを追加
  src/app/components/Clock/Clock.container.tsx
  src/app/components/Clock/Clock.test.tsx
  src/app/components/Clock/Clock.tsx
  src/app/components/Clock/utils.test.ts
  src/app/components/Clock/utils.ts
  src/app/page.tsx
Due: lint, format

chore: 使用中の @testing-library/* を knip の ignoreDependencies から除外
  knip.json
Due: format

docs: add PR demo GIF for add-japan-clock
  docs/screenshots/add-japan-clock.gif
Due: none

docs: pr skill のデモ GIF を絶対 raw URL で書くよう修正
  .claude/skills/pr/SKILL.md
Due: none

chore: CloudflareEnv を wrangler types で自動生成する運用に移行
  .gitignore
  package.json
  src/env.d.ts
Due: lint, format

docs: AGENTS.md の Tools に wrangler types を追記
  AGENTS.md
Due: none

refactor: coding-guide skill を .claude/rules/ に移行し AGENTS.md から @include する
  .claude/hooks/stop-agent-review.sh
  .claude/rules/architecture.md
  .claude/rules/dependencies.md
  .claude/rules/style.md
  .claude/rules/testing.md
  .claude/rules/tools.md
  .claude/skills/coding-guide/SKILL.md
  AGENTS.md
  README.md
Due: none

chore: settings.json permissions に deny を追加し allow/ask を再設計
  .claude/settings.json
Due: format

feat: self-review skill を追加
  .claude/skills/self-review/SKILL.md
Due: none

feat: empirical-prompt-tuning skill を追加
  .claude/skills/empirical-prompt-tuning/SKILL.md
Due: none

refactor: commit skill を split discipline 中心にリライト
  .claude/skills/commit/SKILL.md
Due: none

docs: self-review skill を英語に書き直し
  .claude/skills/self-review/SKILL.md
Due: none

chore: CI の actions を最新版かつ commit SHA 固定に更新
  .github/workflows/ci.yaml
Due: none

chore: MCP サーバーを @latest から exact version に固定
  .mcp.json
Due: format

feat: agent dispatch ルールを .claude/rules/agents.md として追加
  .claude/rules/agents.md
  AGENTS.md
Due: none

docs: dependencies / style / testing ルールを英語に書き直し
  .claude/rules/dependencies.md
  .claude/rules/style.md
  .claude/rules/testing.md
Due: none

refactor: self-review skill を削除し agents.md の "Before reporting done" 節に置き換える
  .claude/rules/agents.md
  .claude/skills/self-review/SKILL.md
Due: none

chore: enabledPlugins に figma と typescript-lsp を project scope で登録
  .claude/settings.json
Due: format

chore: 直接依存の脆弱性を解消するためバージョン更新
  bun.lockb
  package.json
Due: format
