Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

docs: replies.md が prose.md を開かせずに読める
  .claude/rules/replies.md
  AGENTS.md
Due: none

ルールが互いを指さず、分担が AGENTS.md に集まる (#300)
  .claude/rules/data-fetching.md
  .claude/rules/functions.md
  .claude/rules/react.md
  .claude/rules/replies.md
  AGENTS.md
Due: none

docs: データ取得の決めごとが本文 1 箇所に集まる
  .claude/rules/data-fetching.md
Due: none

docs: データ取得の決めごとが本文 1 箇所に集まる (#301)
  .claude/rules/data-fetching.md
Due: none

docs: 返信の書き出しにパスとスニペットも選べると見出しが示す
  .claude/rules/replies.md
Due: none

docs: 返信の書き出しにパスとスニペットも選べると見出しが示す (#302)
  .claude/rules/replies.md
Due: none

feat: 返信の 1 行目がコマンドかパスかスニペットかを機械が判定する
  .claude/hooks/reply-open-gate-decision.sh
  .claude/hooks/reply-open-gate.sh
  .claude/hooks/reply-open-gate.test.ts
Due: lint, format

feat: 返信の 1 行目のゲートがターンの終わりに発火する
  .claude/settings.json
Due: format

返信の 1 行目を機械的に落とす Stop フック (#303)
  .claude/hooks/reply-open-gate-decision.sh
  .claude/hooks/reply-open-gate.sh
  .claude/hooks/reply-open-gate.test.ts
  .claude/settings.json
Due: lint, format

docs: 平置きになったディレクトリのまとめ方が測って決まる
  .claude/rules/functions.md
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: 平置きになったディレクトリのまとめ方が測って決まる (#304)
  .claude/rules/functions.md
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: Codex 委譲の運用規則が手順の側で読める
  .claude/skills/codex-delegation/SKILL.md
Due: none

docs: 反復をどこで止めるかが収束条件だけで決まる
  .claude/skills/empirical-prompt-tuning/SKILL.md
Due: none

docs: 強調が規則名を担う行頭だけに残る
  .claude/skills/empirical-prompt-tuning/SKILL.md
Due: none

docs: motion レビューの姿勢が測定表の参照に揃う
  .claude/skills/motion-craft/SKILL.md
Due: none

docs: 集計行の分母が項目数に追従する
  .claude/skills/launch-checklist/SKILL.md
Due: none

docs: 拡張性の適用範囲を Do と Don't だけが決める
  AGENTS.md
Due: none

エージェント向け指示から古い型の指示を落とす (#305)
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/empirical-prompt-tuning/SKILL.md
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/motion-craft/SKILL.md
  AGENTS.md
Due: none

docs: worker も描画の確認を Claude in Chrome で行う
  AGENTS.md
Due: none

chore: Claude in Chrome の呼び出しが確認なしで通る
  .claude/settings.json
Due: format

fix: page-audit の測定手順が実在するツールを呼ぶ
  .claude/skills/page-audit/SKILL.md
Due: none

描画の確認を worker も Claude in Chrome で行う (#306)
  .claude/settings.json
  .claude/skills/page-audit/SKILL.md
  AGENTS.md
Due: format

feat: Bash で src/ を触るセッションにも path 指定ルールが届く
  .claude/hooks/scoped-rules-decision.test.ts
  .claude/hooks/scoped-rules-decision.ts
  .claude/hooks/scoped-rules.entry.ts
  .claude/hooks/scoped-rules.sh
  .claude/hooks/scoped-rules.test.ts
  .claude/settings.json
  .fallowrc.jsonc
  AGENTS.md
Due: lint, format

feat: Bash で src/ を触るセッションにも path 指定ルールが届く (#308)
  .claude/hooks/scoped-rules-decision.test.ts
  .claude/hooks/scoped-rules-decision.ts
  .claude/hooks/scoped-rules.entry.ts
  .claude/hooks/scoped-rules.sh
  .claude/hooks/scoped-rules.test.ts
  .claude/settings.json
  .fallowrc.jsonc
  AGENTS.md
Due: lint, format

refactor: アニメーションの既定値を motion-craft skill だけで引ける
  .claude/rules/design.md
  .claude/skills/motion-craft/SKILL.md
Due: none

docs: design.md に残るのはこのリポジトリが選んだ判断だけになる
  .claude/rules/design.md
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/page-audit/SKILL.md
Due: none

design.md をリポジトリ固有の判断だけにする (#309)
  .claude/rules/design.md
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/motion-craft/SKILL.md
  .claude/skills/page-audit/SKILL.md
Due: none

docs: react.md に残るのは lint が拾えないこのリポジトリの判断だけになる
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: react.md に残るのは lint が拾えないこのリポジトリの判断だけになる (#310)
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: data-fetching.md から TanStack Query の一般的な使い方を外す
  .claude/rules/data-fetching.md
Due: none

feat: 規約は触れた場面でだけ届き、起動時には何も読み込まない
  .claude/agents/code-reviewer.md
  .claude/hooks/guidance/data-fetching.md
  .claude/hooks/guidance/design.md
  .claude/hooks/guidance/functions.md
  .claude/hooks/guidance/prose.md
  .claude/hooks/guidance/react.md
  .claude/hooks/guidance/replies.md
  .claude/hooks/reply-open-gate-decision.sh
  .claude/hooks/reply-open-gate.sh
  .claude/hooks/reply-open-gate.test.ts
  .claude/hooks/scoped-guidance-decision.test.ts
  .claude/hooks/scoped-guidance-decision.ts
  .claude/hooks/scoped-guidance.entry.ts
  .claude/hooks/scoped-guidance.sh
  .claude/hooks/scoped-guidance.test.ts
  .claude/settings.json
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/motion-craft/SKILL.md
  .cursor/rules/data-fetching.mdc
  .cursor/rules/design.mdc
  .cursor/rules/functions.mdc
  .cursor/rules/prose.mdc
  .cursor/rules/react.mdc
  .cursor/rules/replies.mdc
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  docs/FORKING.md
  scripts/check-cursor-rule-mirrors.entry.ts
  scripts/claude-frontmatter.test.ts
  scripts/claude-frontmatter.ts
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
  src/routes/index/-components/home-content.ts
Due: lint, format

fix: チケットの最初のコミットと PR 本文が prose.md を読んでから書かれる
  .claude/skills/ticket-work/SKILL.md
Due: none

docs: Cursor のセッションに規約が届かないことを AGENTS.md が書く
  AGENTS.md
Due: none

fix: インデントや前置きのある git commit でも prose.md が届く
  .claude/hooks/scoped-guidance-decision.test.ts
  .claude/hooks/scoped-guidance-decision.ts
Due: lint, format

docs: scoped-guidance.entry.ts の冒頭コメントがファイルの中身だけを説明する
  .claude/hooks/scoped-guidance.entry.ts
Due: lint, format

fix: subagent も全ルールに届いた後は bun を起動せずに抜ける
  .claude/hooks/scoped-guidance-decision.test.ts
  .claude/hooks/scoped-guidance-decision.ts
  .claude/hooks/scoped-guidance.entry.ts
  .claude/hooks/scoped-guidance.test.ts
Due: lint, format

fix: 打ち間違えたイベント名やきっかけのないガイダンスを frontmatter 検査が落とす
  scripts/claude-frontmatter.test.ts
  scripts/claude-frontmatter.ts
Due: lint, format

.claude/rules/ を廃止し、規約は触れた場面でだけフックが届ける (#311)
  .claude/agents/code-reviewer.md
  .claude/hooks/guidance/data-fetching.md
  .claude/hooks/guidance/design.md
  .claude/hooks/guidance/functions.md
  .claude/hooks/guidance/prose.md
  .claude/hooks/guidance/react.md
  .claude/hooks/guidance/replies.md
  .claude/hooks/reply-open-gate-decision.sh
  .claude/hooks/reply-open-gate.sh
  .claude/hooks/reply-open-gate.test.ts
  .claude/hooks/scoped-guidance-decision.test.ts
  .claude/hooks/scoped-guidance-decision.ts
  .claude/hooks/scoped-guidance.entry.ts
  .claude/hooks/scoped-guidance.sh
  .claude/hooks/scoped-guidance.test.ts
  .claude/hooks/scoped-rules-decision.test.ts
  .claude/hooks/scoped-rules-decision.ts
  .claude/settings.json
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/motion-craft/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  .cursor/rules/data-fetching.mdc
  .cursor/rules/design.mdc
  .cursor/rules/functions.mdc
  .cursor/rules/prose.mdc
  .cursor/rules/react.mdc
  .cursor/rules/replies.mdc
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  docs/FORKING.md
  scripts/check-cursor-rule-mirrors.entry.ts
  scripts/claude-frontmatter.test.ts
  scripts/claude-frontmatter.ts
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
  src/routes/index/-components/home-content.ts
Due: lint, format

fix: メニューとボタンのアイコンとラベルの間隔が倍にならない
  src/routes/_authed/profile/-components/profile-form/submit-label.tsx
  src/shared/components/header/user-menu/user-menu.tsx
Due: lint, format

feat: design.md の見た目の取り決めを lint が落とす
  tools/oxlint-plugins/style-rules.js
  tools/oxlint-plugins/style-rules.test.ts
  vite.config.ts
Due: lint, format
