Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

docs: ADR 索引の改訂表記を各 ADR の実態に合わせる
  docs/adr/README.md
Due: none

docs: デプロイ・ロールバック・シークレット運用の手順書を追加する
  docs/DEPLOYMENT.md
Due: none

chore: aegis KB を v94 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format

docs: 権限テーブルを allow リスト縮小後の実態に合わせる
  docs/agent-workflow.md
Due: none

docs: ADR-0004 に ADR-0017 への改訂ポインタを張り、撤回された判断の原文を残す
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/README.md
Due: none

chore: aegis KB を v101 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format

fix: drizzle-kit generate の直接実行も確認付きにする
  .claude/settings.json
  aegis-share/source/documents/adr-0017.md
  docs/adr/0017-secret-value-boundary.md
Due: format

docs: src のレイヤ契約を ADR-0016 として起票する
  AGENTS.md
  aegis-share/source/documents/adr-0016.md
  aegis-share/source/edges/path-requires.json
  docs/adr/0016-src-layering.md
  docs/adr/README.md
Due: format

docs: ADR-0004 の allow スクリプト一覧に cf-typegen を補う
  aegis-share/source/documents/adr-0004.md
  docs/adr/0004-permission-deny-as-security-boundary.md
Due: none

fix: バンドルがローカル DB より新しい場合の復旧手順を SessionStart hook が案内する
  .claude/hooks/session-start-aegis-hydrate.sh
Due: none

docs: react.md の共有ディレクトリ例示を実構成に合わせる
  .claude/rules/react.md
Due: none

docs: remove-db スキルから改名で消えたパスを除く
  .claude/skills/remove-db/SKILL.md
Due: none

fix: Stop ゲートが受容済みの similarity 指摘を表示しないようにする
  .claude/hooks/stop-gate.sh
Due: none

docs: launch-checklist の性能項目から performance-audit へ委譲する
  .claude/skills/launch-checklist/SKILL.md
Due: none

docs: 指示文書の書き方をパススコープのルールとして固定する
  .claude/rules/authoring.md
  AGENTS.md
Due: none

docs: remove-db スキルの削除範囲から Cloudflare デプロイ配線を外す
  .claude/skills/remove-db/SKILL.md
Due: none

docs: react.md の reducer 例から姉妹リポジトリ固有の語を外す
  .claude/rules/react.md
Due: none

docs: repo-audit 2回目の所見を記録する
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

docs: spec 検証の記述を ADR-0015 のフラット2エージェントに追随させる
  docs/agent-workflow.md
  specs/README.md
Due: none

docs: README から運用と fork の手順書へリンクする
  README.md
Due: none

docs: テンプレートを新規プロジェクトに使う手順書を追加する
  docs/FORKING.md
Due: none

docs: 監査の実施結果と実行中に判明した所見を記録する
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

docs: README のスクリプト表に db:* を補う
  README.md
Due: none

docs: DATABASE_SETUP の Next.js 前提とポート・デプロイ先の誤りを正す
  docs/DATABASE_SETUP.md
Due: none

fix: 秘密名を wrangler.toml で宣言し、型アサーションと lint 抑制を外す
  docs/DEPLOYMENT.md
  src/lib/auth/auth.ts
  wrangler.toml
Due: lint, format

docs: 監査所見 S1 を解決済みにし、参照ミスを直す
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

fix: authoring ルールの適用範囲を docs 配下全体に広げる
  .claude/rules/authoring.md
  AGENTS.md
Due: none

chore: aegis KB を v106 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
Due: format
