Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

feat: cloudflare:workers スタブで Vitest が Worker API インポートを解決可能にする
  src/test/cloudflare-workers-stub.ts
  vitest.config.mts
Due: lint, format

refactor: renderWithRouter を async 化し Router 初期化完了後にレンダリングするよう改善
  src/test/router-utils.tsx
Due: lint, format

docs: テストルールに mock 制限・Container 不テスト方針・renderWithRouter ガイドを追加
  .claude/rules/testing.md
Due: none

chore: knip がテストユーティリティを未使用ファイルとして誤検出しないよう除外
  knip.json
Due: format

docs: pre-commit レビュー指摘への対応ルールを明文化しバイパスを防止
  .claude/rules/agents.md
Due: none

docs: remove-db スキルを TanStack Start 構成で実行可能な手順に刷新
  .claude/skills/remove-db/SKILL.md
Due: none

chore: aegis を share サブコマンドが使える 1.6.1 に更新
  .mcp.json
Due: format

docs: aegis-share のルールドキュメントを .claude/rules の現行内容に同期
  aegis-share/source/documents/rule-agents.md
  aegis-share/source/documents/rule-architecture.md
  aegis-share/source/documents/rule-style.md
  aegis-share/source/documents/rule-testing.md
Due: none

chore: クローン直後の Aegis ナレッジベース構築を自動化
  .claude/hooks/session-start-aegis-hydrate.sh
  .claude/rules/tools.md
  .claude/settings.json
  README.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/rule-tools.md
Due: format

chore: Aegis sync 検知を source-native フローに対応させる
  .claude/hooks/stop-aegis-sync-check.sh
Due: none

docs: コーディングルールを AGENTS.md に集約し常時コンテキストを軽量化する
  .claude/rules/agents.md
  .claude/rules/architecture.md
  .claude/rules/commit.md
  .claude/rules/hooks.md
  .claude/rules/style.md
  .claude/rules/testing.md
  .claude/rules/tools.md
  AGENTS.md
  CLAUDE.md
  docs/adr/0001-coding-rules-via-claude-rules-include.md
  docs/adr/0008-consolidate-rules-into-agents-md.md
  docs/adr/README.md
Due: none

chore: pre-commit レビュー hooks を廃止し subagent レビューへ移行する
  .claude/agents/code-reviewer.md
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-commit-code-review.sh
  .claude/hooks/pre-commit-review-guard.sh
  .claude/hooks/session-start-aegis-hydrate.sh
  .claude/hooks/stop-aegis-sync-check.sh
  .claude/hooks/user-prompt-skill-reminder.sh
  .claude/settings.json
  .claude/skills/start-workflow/SKILL.md
Due: format

docs: エージェントワークフロー文書を現運用に同期する
  .claude/skills/pr/SKILL.md
  .claude/skills/remove-db/SKILL.md
  README.md
  docs/agent-workflow.md
Due: none

chore: Aegis KB から廃止済み rule ドキュメントを除去する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0008.md
  aegis-share/source/documents/rule-agents.md
  aegis-share/source/documents/rule-architecture.md
  aegis-share/source/documents/rule-hooks.md
  aegis-share/source/documents/rule-style.md
  aegis-share/source/documents/rule-testing.md
  aegis-share/source/documents/rule-tools.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
Due: format

chore: aegis MCP サーバーを 1.7.0 に更新する
  .mcp.json
Due: format

chore: frontend-design プラグインを無効化する
  .claude/settings.json
Due: format

chore: wabisabi の最新ワークフロー変更をテンプレートに反映する
  .claude/hooks/post-agent-review-stamp.sh
  .claude/hooks/pre-aegis-clear-review-stamp.sh
  .claude/hooks/pre-commit-review-reminder.sh
  .claude/settings.json
  .claude/skills/start-workflow/SKILL.md
  .gitignore
  AGENTS.md
Due: format

chore: React ルールファイル追加と oxlint React ルール一括有効化
  .claude/rules/react.md
  .oxlintrc.json
Due: format

chore: oxlint に TypeScript / 品質ルール 9 種を追加する
  .oxlintrc.json
Due: format

fix: code-reviewer の maxTurns 制限を撤廃する
  .claude/agents/code-reviewer.md
Due: none

chore: context7 を MCP サーバーからプラグインに移行し frontend-design を削除
  .claude/settings.json
  .mcp.json
Due: format

docs: MIT ライセンスを明示する
  LICENSE
Due: none

fix: vite のセキュリティ脆弱性を修正する (CVE-2026-53571, CVE-2026-53632)
  bun.lockb
  package.json
Due: format

fix: @cloudflare/vite-plugin の peer dep 不一致を解消する
  bun.lockb
  package.json
Due: format

feat: Aegis DB → aegis-share/ の自動同期フックを追加する
  .claude/hooks/post-aegis-share-sync.sh
  .claude/settings.json
Due: format

feat: 和色デザインシステムを導入しランディングページを刷新する
  .claude/rules/design.md
  AGENTS.md
  docs/superpowers/specs/2026-06-26-design-md-design.md
  src/components/features/profile-page/profile-form/ProfileForm.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/input.tsx
  src/routes/index.tsx
  src/styles.css
Due: lint, format

refactor: 未使用の Clock コンポーネントを削除する
  src/routes/-components/Clock/Clock.container.tsx
  src/routes/-components/Clock/Clock.test.tsx
  src/routes/-components/Clock/Clock.tsx
  src/routes/-components/Clock/utils.test.ts
  src/routes/-components/Clock/utils.ts
Due: lint, format

chore: design.md を Aegis KB に登録しレビュー手順にルール参照を明記する
  AGENTS.md
Due: none

feat: プリコミットレビューを review-diff ワークフローに一本化する
  .claude/agents/code-reviewer.md
  .claude/hooks/pre-commit-review-reminder.sh
  .claude/hooks/pre-workflow-clear-review-stamp.sh
  .claude/settings.json
  .claude/skills/start-workflow/SKILL.md
  .claude/workflows/review-diff.js
  AGENTS.md
  README.md
  docs/adr/0009-unified-review-workflow.md
  docs/adr/README.md
  docs/agent-workflow.md
Due: lint, format

chore: ADR-0009 を aegis 共有 KB に登録し bundle を v64 で再生成する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0009.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
Due: format

fix: drizzle クライアントの型が oxlint の型解析で any に潰れるのを修正する
  src/lib/drizzle/db.ts
Due: lint, format

feat: 状態機械仕様の設計時検証を verify-spec ワークフローとして導入する
  .claude/skills/start-workflow/SKILL.md
  .claude/workflows/verify-spec.js
  AGENTS.md
  docs/adr/0010-agent-based-spec-verification.md
  docs/adr/README.md
  docs/agent-workflow.md
  specs/README.md
Due: lint, format

chore: ADR-0010 を aegis 共有 KB に登録し bundle を v65 で再生成する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0010.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
Due: format

docs: ワークフロー説明を平易にし TL;DR に verify-spec を追加する
  docs/agent-workflow.md
Due: none

feat: コードグラフ注入でワークフローのトークン消費を削減する
  .claude/code-graph.json
  .claude/hooks/pre-commit-graph-refresh.sh
  .claude/settings.json
  .claude/workflows/review-diff.js
  .claude/workflows/verify-spec.js
  .gitattributes
  package.json
  scripts/build-graph.test.ts
  scripts/build-graph.ts
Due: lint, format

docs: コードグラフ統合の設計ドキュメントとワークフロー説明を整備する
  AGENTS.md
  README.md
  docs/agent-workflow.md
  docs/superpowers/plans/2026-07-03-code-graph-workflow-integration.md
  docs/superpowers/specs/2026-07-03-code-graph-workflow-integration-design.md
Due: none

refactor: 同一 matcher のフックを統合して 13 → 10 ファイルに削減する
  .claude/hooks/pre-aegis-clear-review-stamp.sh
  .claude/hooks/pre-aegis-compile-guard.sh
  .claude/hooks/pre-commit-graph-refresh.sh
  .claude/hooks/pre-commit-guard.sh
  .claude/hooks/pre-commit-review-reminder.sh
  .claude/hooks/stop-aegis-sync-check.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  docs/agent-workflow.md
Due: format

feat: レビュー/検証を pinned subagent 化しコードグラフを廃止する
  .claude/agents/code-reviewer.md
  .claude/agents/spec-verifier.md
  .claude/code-graph.json
  .claude/hooks/pre-agent-aegis-guard.sh
  .claude/hooks/pre-agent-review-clear.sh
  .claude/hooks/pre-commit-guard.sh
  .claude/hooks/pre-workflow-clear-review-stamp.sh
  .claude/settings.json
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  .claude/workflows/review-diff.js
  .claude/workflows/verify-spec.js
  .gitattributes
  AGENTS.md
  README.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0001.md
  aegis-share/source/documents/adr-0009.md
  aegis-share/source/documents/adr-0010.md
  aegis-share/source/documents/adr-0011.md
  aegis-share/source/edges/command-requires.json
  aegis-share/source/edges/path-requires.json
  docs/adr/0009-unified-review-workflow.md
  docs/adr/0010-agent-based-spec-verification.md
  docs/adr/0011-nested-subagent-review-and-verification.md
  docs/adr/README.md
  docs/agent-workflow.md
  docs/superpowers/plans/2026-07-03-code-graph-workflow-integration.md
  docs/superpowers/specs/2026-07-03-code-graph-workflow-integration-design.md
  docs/superpowers/specs/2026-07-04-remove-code-graph-nested-subagent-review-design.md
  package.json
  scripts/build-graph.test.ts
  scripts/build-graph.ts
Due: lint, format

docs: agent-workflow を「何をするか」中心に整理する
  docs/agent-workflow.md
Due: none

refactor: spec-verifier を単発 opus 実行にして再起動ループを止める
  .claude/agents/spec-verifier.md
  .claude/skills/start-workflow/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0010.md
  aegis-share/source/documents/adr-0011.md
  docs/adr/0010-agent-based-spec-verification.md
  docs/adr/0011-nested-subagent-review-and-verification.md
  docs/agent-workflow.md
  specs/README.md
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
