Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: 0 行だった name 更新が Workers Logs に残る
  src/gateways/user/avatar/update.ts
  src/gateways/user/index.ts
  src/gateways/user/update.ts
Due: lint, format

test: name 更新の 0 行の腕が壊れたときテストが落ちる
  src/gateways/user/update.test.ts
Due: lint, format

test: ドキュメントのヘッダが応答に載ることを smoke が確かめる
  scripts/smoke.entry.ts
  scripts/smoke.test.ts
  scripts/smoke.ts
  src/lib/response-headers.test.ts
Due: lint, format

fix: HSTS をゾーンに任せ、ヘッダの適用範囲を書く
  src/lib/response-headers.ts
Due: lint, format

docs: コメントが自分のファイルで保証できることだけを言う
  src/gateways/user/avatar/update.ts
  src/gateways/user/read.ts
  src/lib/https-url.ts
Due: lint, format

fix: セキュリティ監査で確定した指摘を直す (#268)
  scripts/smoke.entry.ts
  scripts/smoke.test.ts
  scripts/smoke.ts
  src/gateways/user/avatar/update.test.ts
  src/gateways/user/avatar/update.ts
  src/gateways/user/index.ts
  src/gateways/user/read.ts
  src/gateways/user/update.test.ts
  src/gateways/user/update.ts
  src/lib/auth/better-auth.ts
  src/lib/https-url.test.ts
  src/lib/https-url.ts
  src/lib/response-headers.ts
  src/routes/__root.tsx
Due: lint, format

docs: ユーザーへの返信が実行できる形で届くようになる
  .claude/rules/replies.md
  .cursor/rules/replies.mdc
  AGENTS.md
Due: none

docs: 返信の規則が replies.md 側に寄り、prose.md との重複が消える
  .claude/rules/prose.md
  .claude/rules/replies.md
Due: none

docs: ユーザーへの返信が実行できる形で届くようになる (#274)
  .claude/rules/prose.md
  .claude/rules/replies.md
  .cursor/rules/replies.mdc
  AGENTS.md
Due: none

refactor: レイヤ判定がディレクトリの深さに依存しなくなる
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: 複数ルートが読むデータ層が src/shared/ に集まる
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/features/profile-page/profile-form/submit-profile.test.ts
  src/components/features/profile-page/profile-form/submit-profile.ts
  src/components/features/profile-page/profile-page.tsx
  src/components/shared/header/auth-navigation/auth-navigation.tsx
  src/components/shared/header/header.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/routes/__root.tsx
  src/routes/_authed.tsx
  src/routes/_authed/profile.tsx
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/shared/entities/user/index.test.ts
  src/shared/entities/user/index.ts
  src/shared/gateway/runtime.ts
  src/shared/gateway/user/avatar/index.test.ts
  src/shared/gateway/user/avatar/index.ts
  src/shared/gateway/user/avatar/read.test.ts
  src/shared/gateway/user/avatar/read.ts
  src/shared/gateway/user/avatar/update.test.ts
  src/shared/gateway/user/avatar/update.ts
  src/shared/gateway/user/index.ts
  src/shared/gateway/user/read.fn.ts
  src/shared/gateway/user/read.test.ts
  src/shared/gateway/user/read.ts
  src/shared/gateway/user/update.fn.test.ts
  src/shared/gateway/user/update.fn.ts
  src/shared/gateway/user/update.test.ts
  src/shared/gateway/user/update.ts
  vite.config.ts
Due: lint, format

refactor: shadcn 出力が src/shared/ui/ に移る
  components.json
  doctor.config.ts
  knip.json
  src/components/features/login-page/sign-in-button.tsx
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/features/profile-page/profile-page.tsx
  src/components/shared/header/auth-navigation/auth-navigation.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/routes/__root.tsx
  src/routes/auth.auth-code-error.tsx
  src/shared/ui/alert.tsx
  src/shared/ui/avatar.tsx
  src/shared/ui/badge.tsx
  src/shared/ui/button.tsx
  src/shared/ui/card.tsx
  src/shared/ui/dropdown-menu.tsx
  src/shared/ui/form.tsx
  src/shared/ui/input.tsx
  src/shared/ui/label.tsx
  src/shared/ui/separator.tsx
  src/shared/ui/skeleton.tsx
  src/shared/ui/sonner.tsx
  src/shared/ui/tooltip.tsx
  vite.config.ts
  vitest.config.mts
Due: lint, format

refactor: 全ページに出るコンポーネントが src/shared/components/ に集まる
  src/routes/__root.tsx
  src/shared/components/header/auth-navigation/auth-navigation.tsx
  src/shared/components/header/header.tsx
  src/shared/components/header/mode-toggle/mode-toggle.tsx
  src/shared/components/header/mode-toggle/theme-cycle.test.ts
  src/shared/components/header/mode-toggle/theme-cycle.ts
  src/shared/components/header/user-menu/user-menu.tsx
  src/shared/components/theme-provider/theme-provider.tsx
Due: lint, format

refactor: 1ルートだけが描くコンポーネントがそのルートの隣に来る
  knip.json
  src/routes/_authed/profile/-components/profile-form/profile-form.tsx
  src/routes/_authed/profile/-components/profile-form/submit-profile.test.ts
  src/routes/_authed/profile/-components/profile-form/submit-profile.ts
  src/routes/_authed/profile/-components/profile-page.tsx
  src/routes/_authed/profile/-components/registered-on.ts
  src/routes/_authed/profile/route.tsx
  src/routes/_authed/route.tsx
  src/routes/index/-components/code-block/code-block.tsx
  src/routes/index/route.tsx
  src/routes/login/-components/sign-in-button.tsx
  src/routes/login/route.tsx
  vite.config.ts
Due: lint, format

docs: 規約とドキュメントが実在するパスを指すようになる
  .claude/agents/code-reviewer.md
  .claude/rules/data-fetching.md
  .claude/rules/design.md
  .claude/rules/react.md
  .claude/skills/remove-db/SKILL.md
  AGENTS.md
  README.md
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
  src/shared/gateway/runtime.ts
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: トップページの案内が実在するファイルを指す
  .claude/skills/remove-db/SKILL.md
  src/routes/index/route.tsx
Due: lint, format

docs: remove-db が現在の arch-rules の構造を指す
  .claude/skills/remove-db/SKILL.md
Due: none

fix: ui ディレクトリがどの深さでもコンポーネント層になる問題を直す
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: ディレクトリ自体を名指す import が再び報告される
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: AGENTS.md のレイヤ記述が linter の実装と一致する
  AGENTS.md
Due: none

fix: shadcn の components エイリアスが共有コンポーネントの実際の場所を指す
  components.json
Due: format

feat: ルートの -components/ を跨ぐ import が報告される
  .claude/rules/react.md
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: トップページのファイル構成が実際の src/ と一致する
  src/routes/index/route.tsx
Due: lint, format

fix: トップページのファイル構成が実際の src/ と一致する (#276)
  src/routes/index/route.tsx
Due: lint, format

docs: ページの表示が変わる変更はブラウザで開くまでが完了条件になる
  AGENTS.md
Due: none

docs: ページの表示が変わる変更はブラウザで開くまでが完了条件になる (#277)
  AGENTS.md
Due: none

fix: portless CA が Chrome に信頼されていないことがセッション開始時に分かる
  .claude/hooks/session-start-env-check.sh
Due: none

docs: README が非特権ポートで起動したあとの手順を1行足す
  README.md
Due: none

fix: bun run dev が sudo なしで Chrome の開ける URL を出す
  .claude/skills/remove-db/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
  README.md
  docs/DATABASE_SETUP.md
  docs/FORKING.md
  package.json
  src/lib/auth/better-auth.ts
  src/routes/index/route.tsx
Due: lint, format

fix: bun run dev が sudo なしで Chrome の開ける URL を出す (#279)
  .claude/skills/remove-db/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
  README.md
  docs/DATABASE_SETUP.md
  docs/FORKING.md
  package.json
  src/lib/auth/better-auth.ts
  src/routes/index/route.tsx
Due: lint, format

chore: 未使用コード検出が fallow の devDependency で動くようになる
  bun.lock
  package.json
Due: format

fix: ファイル内でしか使われないシンボルが export されなくなる
  .claude/hooks/check-md-links.ts
  src/routes/_authed/profile/-components/profile-form/submit-profile.ts
  src/shared/gateway/user/update.ts
Due: lint, format

chore: 未使用コードと重複のゲートが fallow に移る
  .claude/agents/code-reviewer.md
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  .claude/skills/remove-db/SKILL.md
  .cursor/permissions.json
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
  doctor.config.ts
  knip.json
  lefthook.yml
  mise.toml
  src/routes/index/route.tsx
Due: lint, format

chore: 未使用コードと重複の検出が fallow に移る (#280)
  .claude/agents/code-reviewer.md
  .claude/hooks/check-md-links.ts
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  .claude/skills/remove-db/SKILL.md
  .cursor/permissions.json
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  README.md
  bun.lock
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
  doctor.config.ts
  knip.json
  lefthook.yml
  mise.toml
  package.json
  src/routes/_authed/profile/-components/profile-form/submit-profile.ts
  src/routes/index/route.tsx
  src/shared/gateway/user/update.ts
Due: lint, format

refactor: 行の書き込みと行数の判定が gateway に 1 つずつになる
  .claude/rules/data-fetching.md
  src/shared/gateway/user/avatar/update.ts
  src/shared/gateway/user/index.ts
  src/shared/gateway/user/update.ts
Due: lint, format

chore: 重複ゲートが最初の clone group で落ちるようになる
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  lefthook.yml
Due: none

refactor: gateway の重複が構造ごと無くなる (#282)
  .claude/rules/data-fetching.md
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  AGENTS.md
  lefthook.yml
  src/shared/gateway/user/avatar/update.ts
  src/shared/gateway/user/index.ts
  src/shared/gateway/user/update.ts
Due: lint, format

docs: 設定のコメントが数え上げで古くならなくなる
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  doctor.config.ts
Due: lint, format

docs: 設定のコメントが数え上げで古くならなくなる (#283)
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  doctor.config.ts
Due: lint, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
