Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

lib と routes の Effect テストを @effect/vitest へ移す (#347)
  src/lib/auth/options.test.ts
  src/lib/report-error.test.ts
  src/routes/api/-avatars.test.ts
Due: lint, format

test: makeRunHandler を通るテストが it.effect で書ける
  src/shared/gateway/runtime.test.ts
  src/shared/gateway/user/read.test.ts
  src/test/rejection.ts
Due: lint, format

fix: アバターの R2 読み出しが失敗したとき、JSON の 500 で答える
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/shared/gateway/user/avatar/index.ts
  src/shared/gateway/user/avatar/read.test.ts
  src/shared/gateway/user/avatar/read.ts
Due: lint, format

docs: UserPersistenceError のコメントが他ファイルの呼び出し側に依存しない
  src/shared/gateway/user/index.ts
Due: lint, format

test: 開発用サインインとプロフィール送信のテストが it.effect で書ける
  src/lib/auth/sign-in/dev.test.ts
  src/routes/_authed/profile/-components/profile-form/submit-profile.test.ts
Due: lint, format

アバターの R2 読み出し失敗を型付きのエラーにし、JSON の 500 で答える (#349)
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/shared/gateway/user/avatar/index.ts
  src/shared/gateway/user/avatar/read.test.ts
  src/shared/gateway/user/avatar/read.ts
  src/shared/gateway/user/index.ts
Due: lint, format

Promise を返す Effect の経路のテストを it.effect へ移す (#348)
  src/lib/auth/sign-in/dev.test.ts
  src/routes/_authed/profile/-components/profile-form/submit-profile.test.ts
  src/shared/gateway/runtime.test.ts
  src/shared/gateway/user/read.test.ts
  src/test/rejection.ts
Due: lint, format

feat: Web の UI を書くとき Chrome の最新ベストプラクティスを検索できる
  .claude/settings.json
Due: format

docs: 対応ブラウザを Baseline Widely available と決め、ガイドのフォールバック判断を固定する
  AGENTS.md
Due: none

docs: ガイドがネイティブの dialog や popover を示しても shadcn のプリミティブを使い続ける
  .claude/hooks/guidance/design.md
Due: none

Chrome の Modern Web Guidance を導入する (#350)
  .claude/hooks/guidance/design.md
  .claude/settings.json
  AGENTS.md
Due: format

fix: 背景ぼかし非対応のブラウザでヘッダーと本文の文字が重ならない
  src/shared/components/header/header.tsx
Due: lint, format

fix: アバターのメニューボタンが読み上げでユーザー名を名乗り、クリックでフォーカス枠を出さない
  src/shared/components/header/user-menu/user-menu.tsx
Due: lint, format

fix: 見出しが折り返したとき2行目に数文字だけ残らない
  src/routes/index/-components/section.tsx
  src/shared/components/page-title/page-title.tsx
Due: lint, format

ヘッダーのぼかしのフォールバック、アバターメニューの読み上げ名、見出しの折り返し (#351)
  src/routes/index/-components/section.tsx
  src/shared/components/header/header.tsx
  src/shared/components/header/user-menu/user-menu.tsx
  src/shared/components/page-title/page-title.tsx
Due: lint, format

docs: Claude の質問ダイアログだけを見て、会話をさかのぼらずに答えられる
  .claude/hooks/guidance/replies.md
Due: none

docs: Claude の質問ダイアログだけを見て、会話をさかのぼらずに答えられる (#352)
  .claude/hooks/guidance/replies.md
Due: none

fix: コンテキストを圧縮したあとも、触れた場面でガイダンスがもう一度案内される
  .claude/hooks/scoped-guidance.entry.ts
  .claude/hooks/scoped-guidance.sh
  .claude/hooks/scoped-guidance.test.ts
  .claude/settings.json
Due: lint, format

docs: README のガイダンス案内の回数に、圧縮後の再案内を書く
  README.md
Due: none

コンテキスト圧縮のあとも、ガイダンスがもう一度案内される (#353)
  .claude/hooks/scoped-guidance.entry.ts
  .claude/hooks/scoped-guidance.sh
  .claude/hooks/scoped-guidance.test.ts
  .claude/settings.json
  README.md
Due: lint, format

docs: 「ではなく」と長い文が、人の日本語でも出る頻度を基準に判定される
  .claude/hooks/guidance/prose.md
Due: none

docs: 見出しと結びの提言が、本文より強く言い切らない
  .claude/hooks/guidance/prose.md
Due: none

docs: 他人の文章を直すとき、主張・比重・強さ・文の働きと、書き手が決めていないことが残る
  .claude/hooks/guidance/prose.md
Due: none

docs: 接続詞・段落の頭・列挙が、つないでいる中身の形に従う
  .claude/hooks/guidance/prose.md
Due: none

docs: 比喩を言い換えても含みが残り、名詞が役割以上の重みを主張しない
  .claude/hooks/guidance/prose.md
Due: none

docs: 日本語の文が一度で読め、GitHub で太字が崩れない
  .claude/hooks/guidance/prose.md
Due: none

yomiyasu と natural-japanese の日本語ルールを prose.md に取り込む (#354)
  .claude/hooks/guidance/prose.md
Due: none

chore: security-audit skill から取り込み元の記録とライセンス表記をなくす
  .claude/skills/security-audit/LICENSE
  .claude/skills/security-audit/UPSTREAM.md
Due: none

refactor: security-audit skill を web-security-audit として SKILL.md・README.md・scripts/・references/ の構成にする
  .claude/skills/web-security-audit/README.md
  .claude/skills/web-security-audit/SKILL.md
  .claude/skills/web-security-audit/references/AI-AND-LLM.md
  .claude/skills/web-security-audit/references/ATTACK-CLASSES.md
  .claude/skills/web-security-audit/references/CLIENT-SIDE.md
  .claude/skills/web-security-audit/references/CLOUD-AND-DEPLOYMENT.md
  .claude/skills/web-security-audit/references/DATA-ISOLATION-AND-LIFECYCLE.md
  .claude/skills/web-security-audit/references/DESKTOP-MOBILE-AND-LOCAL-IPC.md
  .claude/skills/web-security-audit/references/HUNTING.md
  .claude/skills/web-security-audit/references/MEMORY-SAFETY-AND-BINARY.md
  .claude/skills/web-security-audit/references/PROTOCOLS-RPC-AND-MESSAGING.md
  .claude/skills/web-security-audit/references/RECONNAISSANCE.md
  .claude/skills/web-security-audit/references/RESOURCE-EXHAUSTION-AND-AVAILABILITY.md
  .claude/skills/web-security-audit/references/SUPPLY-CHAIN-AND-RELEASE.md
  .claude/skills/web-security-audit/references/VALIDATION-AND-REPORTING.md
  .claude/skills/web-security-audit/references/WEB-PROTOCOL-AND-AUTH.md
  .claude/skills/web-security-audit/references/report-schema.json
  .claude/skills/web-security-audit/scripts/validate-coverage-ledger.cjs
  .claude/skills/web-security-audit/scripts/validate-coverage-ledger.test.cjs
  .claude/skills/web-security-audit/scripts/validate-findings.cjs
  .claude/skills/web-security-audit/scripts/validate-findings.test.cjs
  .claude/skills/webapp-security-review/SKILL.md
  lefthook.yml
  vite.config.ts
  vitest.config.mts
  vitest.config.test.ts
Due: lint, format

security-audit skill を web-security-audit に改名し、配布できる構成にする (#355)
  .claude/skills/security-audit/LICENSE
  .claude/skills/security-audit/UPSTREAM.md
  .claude/skills/web-security-audit/README.md
  .claude/skills/web-security-audit/SKILL.md
  .claude/skills/web-security-audit/references/AI-AND-LLM.md
  .claude/skills/web-security-audit/references/ATTACK-CLASSES.md
  .claude/skills/web-security-audit/references/CLIENT-SIDE.md
  .claude/skills/web-security-audit/references/CLOUD-AND-DEPLOYMENT.md
  .claude/skills/web-security-audit/references/DATA-ISOLATION-AND-LIFECYCLE.md
  .claude/skills/web-security-audit/references/DESKTOP-MOBILE-AND-LOCAL-IPC.md
  .claude/skills/web-security-audit/references/HUNTING.md
  .claude/skills/web-security-audit/references/MEMORY-SAFETY-AND-BINARY.md
  .claude/skills/web-security-audit/references/PROTOCOLS-RPC-AND-MESSAGING.md
  .claude/skills/web-security-audit/references/RECONNAISSANCE.md
  .claude/skills/web-security-audit/references/RESOURCE-EXHAUSTION-AND-AVAILABILITY.md
  .claude/skills/web-security-audit/references/SUPPLY-CHAIN-AND-RELEASE.md
  .claude/skills/web-security-audit/references/VALIDATION-AND-REPORTING.md
  .claude/skills/web-security-audit/references/WEB-PROTOCOL-AND-AUTH.md
  .claude/skills/web-security-audit/references/report-schema.json
  .claude/skills/web-security-audit/scripts/validate-coverage-ledger.cjs
  .claude/skills/web-security-audit/scripts/validate-coverage-ledger.test.cjs
  .claude/skills/web-security-audit/scripts/validate-findings.cjs
  .claude/skills/web-security-audit/scripts/validate-findings.test.cjs
  .claude/skills/webapp-security-review/SKILL.md
  lefthook.yml
  vite.config.ts
  vitest.config.mts
  vitest.config.test.ts
Due: lint, format

chore: drizzle-orm と drizzle-kit を v1 (1.0.0-rc.5-ab785fc) に上げ、マイグレーションを v1 のフォルダ形式にする
  bun.lock
  docs/DATABASE_SETUP.md
  package.json
  src/lib/drizzle/db.ts
  src/lib/drizzle/migrations/20260208115338_outstanding_sue_storm/migration.sql
  src/lib/drizzle/migrations/20260208115338_outstanding_sue_storm/snapshot.json
  src/lib/drizzle/migrations/20260912080632_melted_magneto/migration.sql
  src/lib/drizzle/migrations/20260912080632_melted_magneto/snapshot.json
  src/lib/drizzle/migrations/20260915020931_dazzling_callisto/migration.sql
  src/lib/drizzle/migrations/20260915020931_dazzling_callisto/snapshot.json
  src/lib/drizzle/migrations/20260916000458_left_genesis/migration.sql
  src/lib/drizzle/migrations/20260916000458_left_genesis/snapshot.json
  src/lib/drizzle/migrations/20260930144542_groovy_charles_xavier/migration.sql
  src/lib/drizzle/migrations/20260930144542_groovy_charles_xavier/snapshot.json
  src/lib/drizzle/migrations/meta/0000_snapshot.json
  src/lib/drizzle/migrations/meta/0001_snapshot.json
  src/lib/drizzle/migrations/meta/0002_snapshot.json
  src/lib/drizzle/migrations/meta/0003_snapshot.json
  src/lib/drizzle/migrations/meta/0004_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/shared/gateway/user/avatar/update.test.ts
  wrangler.toml
Due: lint, format

fix: スキーマを変えて db:generate しても、認証テーブルを作り直すマイグレーションが混ざらない
  src/lib/drizzle/schema.ts
Due: lint, format

drizzle を v1 に上げ、マイグレーションを v1 のフォルダ形式にする (#356)
  bun.lock
  docs/DATABASE_SETUP.md
  package.json
  src/lib/drizzle/db.ts
  src/lib/drizzle/migrations/20260208115338_outstanding_sue_storm/migration.sql
  src/lib/drizzle/migrations/20260208115338_outstanding_sue_storm/snapshot.json
  src/lib/drizzle/migrations/20260912080632_melted_magneto/migration.sql
  src/lib/drizzle/migrations/20260912080632_melted_magneto/snapshot.json
  src/lib/drizzle/migrations/20260915020931_dazzling_callisto/migration.sql
  src/lib/drizzle/migrations/20260915020931_dazzling_callisto/snapshot.json
  src/lib/drizzle/migrations/20260916000458_left_genesis/migration.sql
  src/lib/drizzle/migrations/20260916000458_left_genesis/snapshot.json
  src/lib/drizzle/migrations/20260930144542_groovy_charles_xavier/migration.sql
  src/lib/drizzle/migrations/20260930144542_groovy_charles_xavier/snapshot.json
  src/lib/drizzle/migrations/meta/0000_snapshot.json
  src/lib/drizzle/migrations/meta/0001_snapshot.json
  src/lib/drizzle/migrations/meta/0002_snapshot.json
  src/lib/drizzle/migrations/meta/0003_snapshot.json
  src/lib/drizzle/migrations/meta/0004_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
  src/shared/gateway/user/avatar/update.test.ts
  wrangler.toml
Due: lint, format

feat: Worker・D1・R2 を alchemy.run.ts で宣言し、Alchemy で起動・デプロイする
  .claude/hooks/effect-guidance-reminder.sh
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/session-start-env-check.test.ts
  .cursor/permissions.json
  .env.local.example
  .fallowrc.jsonc
  .github/workflows/ci.yaml
  .gitignore
  AGENTS.md
  alchemy.run.ts
  bun.lock
  bunfig.toml
  doctor.config.ts
  drizzle.config.ts
  lefthook.yml
  package.json
  scripts/build.entry.ts
  scripts/cloud-agent-install.sh
  scripts/deploy-secrets.test.ts
  scripts/deploy-secrets.ts
  scripts/setup.sh
  scripts/setup.test.ts
  scripts/smoke.entry.ts
  scripts/smoke.test.ts
  scripts/smoke.ts
  src/cloudflare-env.d.ts
  src/lib/auth/secret.test.ts
  src/lib/auth/secret.ts
  src/lib/auth/sign-in/dev.test.ts
  src/lib/auth/sign-in/dev.ts
  src/lib/cloudflare/env.ts
  tools/vite-plugins/drop-local-secrets-plugin.ts
  tools/vite-plugins/wrangler-types-plugin.ts
  tools/vite-plugins/wrangler-types.test.ts
  tools/vite-plugins/wrangler-types.ts
  tsconfig.json
  vite.config.ts
  wrangler.toml
Due: lint, format

docs: 開発・デプロイ・データベースの手順が Alchemy での実際の操作と一致する
  .claude/skills/page-audit/SKILL.md
  .claude/skills/remove-db/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  .claude/skills/webapp-security-review/SKILL.md
  .claude/skills/webapp-security-review/references/api.md
  .claude/skills/webapp-security-review/references/authentication.md
  .claude/skills/webapp-security-review/references/browser-headers.md
  .claude/skills/webapp-security-review/references/business-logic.md
  .claude/skills/webapp-security-review/references/cors.md
  .claude/skills/webapp-security-review/references/data-processing.md
  .claude/skills/webapp-security-review/references/deployment.md
  .claude/skills/webapp-security-review/references/file-upload.md
  .claude/skills/webapp-security-review/references/information-leakage.md
  .claude/skills/webapp-security-review/references/input-validation.md
  .claude/skills/webapp-security-review/references/logging.md
  .claude/skills/webapp-security-review/references/sql-injection.md
  .claude/skills/webapp-security-review/references/ssrf.md
  README.md
  docs/DATABASE_SETUP.md
  docs/DEPLOYMENT.md
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
  src/routes/index/-components/home-content.ts
Due: lint, format

docs: ディスパッチしたワーカーが high effort で動く
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: 検索だけのサブエージェントを Haiku で動かし、コストを下げる
  AGENTS.md
Due: none

docs: プロンプト調整の前に、評価シナリオが強い構成と弱い構成を見分けられるか確かめる
  .claude/skills/empirical-prompt-tuning/SKILL.md
Due: none

docs: 検索だけのサブエージェントを Haiku で動かし、コストを下げる (#359)
  AGENTS.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
