Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: browserslist を 4.28.9 に固定して CVE-2026-73088 を外す (#196)
  bun.lock
  package.json
Due: format

feat: extend env-check for checkout setup gaps
  .claude/hooks/session-start-env-check.sh
  package.json
Due: format

feat: extend env-check for checkout setup gaps (#197)
  .claude/hooks/session-start-env-check.sh
  package.json
Due: format

docs: 指示された手段を目的に照らして検討する規則を AGENTS.md に置く
  AGENTS.md
Due: none

docs: 指示された手段を目的に照らして検討する規則を AGENTS.md に置く (#198)
  AGENTS.md
Due: none

docs: 確認とデバッグを Claude in Chrome に寄せ計測スキルは DevTools MCP に残す
  .claude/skills/launch-checklist/SKILL.md
  AGENTS.md
Due: none

docs: 確認とデバッグを Claude in Chrome に寄せ計測スキルは DevTools MCP に残す (#199)
  .claude/skills/launch-checklist/SKILL.md
  AGENTS.md
Due: none

feat: oxlint-tailwindcss でクラス名をデザインシステムに照らして検査する
  README.md
  bun.lock
  package.json
  src/lib/utils.test.ts
  src/routes/__root.tsx
  vite.config.ts
Due: lint, format

feat: oxlint-tailwindcss でクラス名をデザインシステムに照らして検査する (#200)
  README.md
  bun.lock
  package.json
  src/lib/utils.test.ts
  src/routes/__root.tsx
  vite.config.ts
Due: lint, format

feat: Workers Logs に出して Observability MCP から取る
  .claude/settings.json
  .cursor/mcp.json
  .cursor/permissions.json
  .mcp.json
  docs/DEPLOYMENT.md
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/report-error.test.ts
  src/lib/report-error.ts
  vite.config.ts
  wrangler.toml
Due: lint, format

fix: CapturedReport を ErrorReport から導出する
  src/gateways/user/index.test.ts
  src/lib/report-error.ts
Due: lint, format

feat: Workers Logs に出して Observability MCP から取る (#201)
  .claude/settings.json
  .cursor/mcp.json
  .cursor/permissions.json
  .mcp.json
  docs/DEPLOYMENT.md
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/lib/report-error.test.ts
  src/lib/report-error.ts
  vite.config.ts
  wrangler.toml
Due: lint, format

chore: Cursor でも git fetch / gh pr checks / actionlint が承認なしで走る
  .cursor/permissions.json
Due: format

chore: Cursor でも git fetch / gh pr checks / actionlint が承認なしで走る (#202)
  .cursor/permissions.json
Due: format

feat: .env.local が無い checkout でも env-check が例ファイルから用意する
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/session-start-env-check.test.ts
Due: lint, format

feat: .env.local が無い checkout でも env-check が例ファイルから用意する (#203)
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/session-start-env-check.test.ts
Due: lint, format

feat: fresh checkout でも bun run setup が .env.local を用意する
  scripts/setup.sh
  scripts/setup.test.ts
Due: lint, format

docs: セットアップ手順から手動の env コピーを外す
  README.md
  docs/DATABASE_SETUP.md
Due: none

fix: remove-db を通した fork でも bun run setup が最後まで走る
  .claude/skills/remove-db/SKILL.md
Due: none

docs: トップページのセットアップ手順も bun run setup に揃える
  .claude/skills/remove-db/SKILL.md
  src/routes/index.tsx
Due: lint, format

feat: bun run setup がローカル用 env ファイルを例ファイルから用意する (#204)
  .claude/skills/remove-db/SKILL.md
  README.md
  docs/DATABASE_SETUP.md
  scripts/setup.sh
  scripts/setup.test.ts
  src/routes/index.tsx
Due: lint, format

chore: knip の設定が実態に合う
  knip.json
  vite.config.ts
Due: lint, format

test: Tooltip のクラス上書きテストが静的なクラスで描画する
  src/components/ui/tooltip.test.tsx
Due: lint, format

feat: Avatar のサイズが variant で決まる
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/components/ui/avatar.test.tsx
  src/components/ui/avatar.tsx
Due: lint, format

refactor: profile 画面の縦積みが親の gap で決まる
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/features/profile-page/profile-page.tsx
Due: lint, format

feat: 呼び出し側の className 上書きを lint が落とす
  .claude/rules/design.md
  README.md
  bun.lock
  package.json
  src/components/features/profile-page/profile-page.tsx
  src/components/shared/header/auth-navigation/auth-navigation.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  vite.config.ts
Due: lint, format

feat: 呼び出し側の className 上書きを lint が落とす (#205)
  .claude/rules/design.md
  README.md
  bun.lock
  knip.json
  package.json
  src/components/features/profile-page/profile-form/profile-form.tsx
  src/components/features/profile-page/profile-page.tsx
  src/components/shared/header/auth-navigation/auth-navigation.tsx
  src/components/shared/header/user-menu/user-menu.tsx
  src/components/shared/mode-toggle/mode-toggle.tsx
  src/components/ui/avatar.test.tsx
  src/components/ui/avatar.tsx
  src/components/ui/tooltip.test.tsx
  vite.config.ts
Due: lint, format

docs: 設定ファイルを含むコミット分割の手順が書いてある
  AGENTS.md
Due: none

docs: 設定ファイルを含むコミット分割の手順が書いてある (#206)
  AGENTS.md
Due: none

feat: accounts テーブルが better-auth 標準の password 列を持つ
  src/lib/drizzle/migrations/0002_dazzling_callisto.sql
  src/lib/drizzle/migrations/meta/0002_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
Due: lint, format

feat: 開発ビルドで固定ユーザーにワンクリックでログインできる
  src/components/features/login-page/dev-sign-in-panel.tsx
  src/lib/auth/auth.live.ts
  src/lib/auth/dev-sign-in.live.ts
  src/lib/auth/dev-sign-in.test.ts
  src/lib/auth/dev-sign-in.ts
  src/lib/auth/dev-users.ts
  src/routes/login.tsx
Due: lint, format

fix: ログインの Google ボタンが 44px のタップ目標になる
  src/routes/login.tsx
Due: lint, format

docs: 開発用ログインの使い方とマイグレーションの適用先が書いてある
  README.md
  docs/DATABASE_SETUP.md
Due: none

feat: 開発ビルドで固定ユーザーにワンクリックでログインできる (#207)
  README.md
  docs/DATABASE_SETUP.md
  src/components/features/login-page/dev-sign-in-panel.tsx
  src/lib/auth/auth.live.ts
  src/lib/auth/dev-sign-in.live.ts
  src/lib/auth/dev-sign-in.test.ts
  src/lib/auth/dev-sign-in.ts
  src/lib/auth/dev-users.ts
  src/lib/drizzle/migrations/0002_dazzling_callisto.sql
  src/lib/drizzle/migrations/meta/0002_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/drizzle/schema.ts
  src/routes/login.tsx
Due: lint, format

perf: レビュアが独立したツール呼び出しを1ターンにまとめる
  .claude/agents/code-reviewer.md
Due: none

perf: レビュアが Stage C の再導出をコード読解で済ませる
  .claude/agents/code-reviewer.md
Due: none

docs: バッチ化の根拠が計測日を持ち、計測値を超えて主張しない
  .claude/agents/code-reviewer.md
Due: none

docs: Stage D の欠落例が指示済みの行動を指さない
  .claude/agents/code-reviewer.md
Due: none

perf: code-reviewer が待ち時間を減らして同じ欠陥を返す (#208)
  .claude/agents/code-reviewer.md
Due: none

fix: バッチ化の根拠がレスポンス単位の実測値になる
  .claude/agents/code-reviewer.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
