Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

refactor: レビュー中の編集禁止を落とす
  .claude/skills/review-diff/SKILL.md
Due: none

refactor: 仕様の検証を手順の中でやる
  .claude/agents/spec-verifier.md
  .claude/skills/remove-db/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  .claude/skills/verify-spec/SKILL.md
  README.md
  scripts/evals/review-diff/README.md
  scripts/evals/verify-spec/README.md
  scripts/evals/verify-spec/results/2026-07-12-flat-spec-pipeline.md
  scripts/evals/verify-spec/results/2026-07-12-tier-comparison.md
  scripts/evals/verify-spec/sx-01/expected.md
  scripts/evals/verify-spec/sx-01/wizard.spec.md
  scripts/evals/verify-spec/sx-02/checkout.spec.md
  scripts/evals/verify-spec/sx-02/expected.md
  scripts/evals/verify-spec/sx-03/draft-editor.spec.md
  scripts/evals/verify-spec/sx-03/expected.md
  specs/avatar-read.spec.md
  specs/avatar-upload.spec.md
Due: none

docs: 指針に詰め物を入れない
  AGENTS.md
Due: none

refactor: レビューの手順をエージェント自身が持つ
  .claude/agents/code-reviewer.md
  .claude/skills/motion-craft/SKILL.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  README.md
  scripts/evals/review-diff/README.md
Due: none

refactor: ページ計測を1つの skill にまとめる
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/lighthouse-audit/SKILL.md
  .claude/skills/page-audit/SKILL.md
  .claude/skills/performance-audit/SKILL.md
  README.md
Due: none

refactor: ローカル D1 の適用を wrangler に任せる
  .claude/skills/remove-db/SKILL.md
  docs/DATABASE_SETUP.md
  package.json
  scripts/seed-local.ts
  scripts/setup-local-db.sh
  wrangler.toml
Due: lint, format

refactor: Bash ガードの検証を TS で回す
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.py
  scripts/test-bash-guard.ts
Due: lint, format

refactor: リンクチェッカーを hook 側の TS にする
  .claude/hooks/check-md-links.test.ts
  .claude/hooks/check-md-links.ts
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/skills/remove-db/SKILL.md
  .github/workflows/ci.yaml
  .gitignore
  package.json
  scripts/check-md-links.py
  scripts/test-md-links.py
  tsconfig.json
Due: lint, format

refactor: 依存監査をワークフローに畳む
  .github/dependabot.yml
  .github/workflows/ci.yaml
  scripts/audit-direct.sh
Due: none

docs: README をコアだけにする
  .claude/skills/remove-db/SKILL.md
  README.md
Due: none

docs: 文章の組み立て方が規則として参照できるようになる
  .claude/rules/prose.md
  .cursor/rules/prose.mdc
  AGENTS.md
Due: none

docs: 文章規則が語の一覧ではなく判定で書かれる
  .claude/rules/prose.md
Due: none

refactor: AGENTS.md が自分の定めた文章規則を満たす
  AGENTS.md
Due: none

refactor: 規約の分冊と README が prose.md を満たす
  .claude/rules/design.md
  .claude/rules/react.md
  README.md
Due: none

fix: レビュアーが prose.md を読むようになる
  .claude/agents/code-reviewer.md
Due: none

refactor: 自作 skill 5 本が prose.md を満たす
  .claude/skills/empirical-prompt-tuning/SKILL.md
  .claude/skills/launch-checklist/SKILL.md
  .claude/skills/page-audit/SKILL.md
  .claude/skills/react-doctor/SKILL.md
  .claude/skills/ticket-work/SKILL.md
Due: none

refactor: remove-db が prose.md を満たす
  .claude/skills/remove-db/SKILL.md
Due: none

refactor: design.md が規則を一度だけ述べる
  .claude/rules/design.md
Due: none

refactor: design.md がプロジェクト非依存の規則だけを持つ
  .claude/rules/design.md
  .claude/skills/anti-slop-design/SKILL.md
  AGENTS.md
  src/routes/index.tsx
  src/styles.css
Due: lint, format

docs: 規則が返信と label の埋め方を決める
  .claude/rules/prose.md
  AGENTS.md
Due: none

fix: body の書体がトークン側の決定に従う
  src/routes/__root.tsx
Due: lint, format

refactor: styles.css が color-scheme を自前で宣言する
  src/styles.css
Due: none

feat: design.md が web interface guidelines の規則も持つ
  .claude/rules/design.md
Due: none

fix: ヘッダが実在するものだけを指す
  src/components/shared/header/Header.tsx
Due: lint, format

fix: ヘッダのタップ標的が 44px を満たす
  src/components/shared/header/auth-navigation/AuthNavigation.tsx
  src/components/shared/mode-toggle/ModeToggle.tsx
Due: lint, format

feat: トップページが README の内容を web で持つ
  .oxlintrc.json
  src/components/shared/code-block/CodeBlock.tsx
  src/routes/index.tsx
Due: lint, format

docs: クイックスタートが実際に必要な手順だけを持つ
  README.md
Due: none

feat: dev サーバが wrangler.toml の変更に型を追従させる
  tools/vite-plugins/wrangler-types-plugin.ts
  tools/vite-plugins/wrangler-types.test.ts
  tools/vite-plugins/wrangler-types.ts
  vite.config.ts
  vitest.config.mts
Due: lint, format

feat: push 前に生成済み型の陳腐化が検出される
  .cursor/permissions.json
  lefthook.yml
  package.json
Due: format

docs: README が生成物の追従先を持つ
  README.md
Due: none

chore: oxlint が ultracite のプリセットを読める版になる
  bun.lock
  package.json
Due: format

refactor: 層の境界が port の型で固定される
  src/gateways/avatar/index.test.ts
  src/gateways/avatar/index.ts
  src/gateways/user/drizzle-store.ts
  src/gateways/user/index.test.ts
  src/gateways/user/index.ts
  src/gateways/user/ports.ts
  src/routes/api/-avatars.test.ts
  src/routes/api/avatars.ts
  src/server/fn/avatar.test.ts
  src/server/fn/avatar.ts
  src/server/fn/profile.ts
  src/server/fn/user.test.ts
  src/server/fn/user.ts
Due: lint, format

fix: header の import が case-sensitive なファイルシステムでも解決する
  src/components/shared/header/header.tsx
Due: lint, format

fix: remove-db skill が実在するパスを指す
  .claude/skills/remove-db/SKILL.md
Due: none

refactor: shadcn CLI の出力を無改変で置ける
  oxlint.config.ts
  src/components/ui/avatar.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
Due: lint, format

refactor: レビューで挙がった重複と不整合が消える
  .claude/hooks/check-md-links.ts
  src/gateways/user/index.ts
  src/routes/api/avatars.ts
  src/server/fn/profile.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/style-rules.js
Due: lint, format

docs: 規約が lint の通る書き方だけを指す
  .claude/rules/react.md
  AGENTS.md
Due: none

fix: tailwind ルールの案内が実在するファイルを指す
  tools/oxlint-plugins/style-rules.js
Due: lint, format
