Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

docs: compatibility_date の方針を ADR-0018 として記録する
  docs/adr/0018-compatibility-date-tracks-installed-workerd.md
  docs/adr/README.md
Due: none

fix: compatibility_date をインストール済み workerd の上限に追随させる
  docs/DEPLOYMENT.md
  src/lib/auth/auth.ts
  wrangler.toml
Due: lint, format

docs: 監査所見の compatibility_date 残件を解決済みにする
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

docs: 監査所見 S1 の状態記述の矛盾を直す
  docs/superpowers/specs/2026-07-25-repo-audit-findings.md
Due: none

chore: aegis KB を v108 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0018.md
  aegis-share/source/edges/path-requires.json
Due: format

docs: レビューを1回で終える方針を ADR-0019 として記録する
  docs/adr/0013-deterministic-enforcement-gates.md
  docs/adr/0014-measurement-first-model-continuity.md
  docs/adr/0019-single-pass-review.md
  docs/adr/README.md
Due: none

fix: 所見の修正で再レビューを要求しないようにする
  .claude/hooks/post-bash-stamp-consume.sh
  .claude/hooks/post-edit-check.sh
  .claude/hooks/pre-bash-guard.sh
Due: none

chore: stamp 消費 hook を配線し per-edit hook の表示文を実態に合わせる
  .claude/settings.json
Due: format

test: レビューゲートの挙動を実 hook に対して検証する
  scripts/test-review-gate.py
Due: none

refactor: delta モードを削除してレビューのモードを1つにする
  .claude/agents/review-verifier.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  AGENTS.md
  docs/agent-workflow.md
Due: none

chore: aegis KB を v112 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0013.md
  aegis-share/source/documents/adr-0014.md
  aegis-share/source/documents/adr-0019.md
  aegis-share/source/edges/path-requires.json
Due: format

fix: auto mode が ask を無効化するという ADR-0004 の記述を訂正する
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/README.md
Due: none

feat: 固定4エージェントを auto mode で走らせる
  .claude/agents/code-reviewer.md
  .claude/agents/review-verifier.md
  .claude/agents/spec-checker.md
  .claude/agents/spec-verifier.md
  AGENTS.md
  docs/agent-workflow.md
Due: none

docs: 外部ツール挙動の主張は親が出典つきで渡す規約を review-diff に書く
  .claude/skills/review-diff/SKILL.md
Due: none

chore: aegis KB を v113 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0004.md
Due: format

fix: delta モード削除が取りこぼした mode 参照を消す
  .claude/skills/review-diff/SKILL.md
  docs/agent-workflow.md
Due: none

feat: verifier に所見ごとの修正案と受入確認を返させる
  .claude/agents/review-verifier.md
  .claude/skills/review-diff/SKILL.md
  .claude/skills/start-workflow/SKILL.md
  AGENTS.md
  docs/adr/0020-verifier-returns-the-fix.md
  docs/adr/README.md
  docs/agent-workflow.md
Due: none

docs: eval の手順書を delta 撤去と新しい返却契約に追随させる
  docs/superpowers/evals/review-diff/README.md
Due: none

chore: aegis KB を v114 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0020.md
  aegis-share/source/edges/path-requires.json
Due: format

test: 陳腐化した eval fixture 2件を作り直す
  docs/superpowers/evals/review-diff/fx-06/expected.md
  docs/superpowers/evals/review-diff/fx-06/seed.patch
  docs/superpowers/evals/review-diff/fx-08/delta.patch
  docs/superpowers/evals/review-diff/fx-08/expected.md
  docs/superpowers/evals/review-diff/fx-08/seed.patch
Due: none

docs: ADR-0020 の採点 eval を実行して結果を記録する
  docs/adr/0020-verifier-returns-the-fix.md
  docs/superpowers/evals/review-diff/results/2026-07-29-verifier-returns-fix.md
Due: none

chore: aegis KB を v116 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0020.md
Due: format

feat: find を allow に戻し危険な形だけ hook で拒否する
  .claude/hooks/pre-bash-guard.sh
  .claude/settings.json
Due: format

test: Bash ガードの3つの判定を実 hook に対して検証する
  scripts/test-bash-guard.py
Due: none

docs: find の権限緩和と代替ガードを ADR-0004 に記録する
  docs/adr/0004-permission-deny-as-security-boundary.md
  docs/adr/README.md
  docs/agent-workflow.md
Due: none

chore: aegis KB を v120 に同期する
  aegis-share/canonical.json
  aegis-share/manifest.json
  aegis-share/source/documents/adr-0004.md
Due: format

docs: 指示だけで動いている2つの工程を未着手項目として記録する
  docs/superpowers/specs/2026-07-29-instruction-reliability-open-items.md
Due: none

fix: aegis ゲートの stamp が bash 3.2 で作られないのを直す
  .claude/hooks/post-aegis-compile.sh
Due: none

fix: bash ガードのテストがセッションの stamp 状態に依存しないようにする
  scripts/test-bash-guard.py
Due: none

test: aegis ゲートの挙動を実 hook に対して検証する
  scripts/test-aegis-gate.py
Due: none

feat: 主張の確認を4形式が発火条件になる形に変える
  .claude/rules/authoring.md
  AGENTS.md
  docs/superpowers/specs/2026-07-29-instruction-reliability-open-items.md
Due: none

feat: レビュー派遣のブリーフィングに必須スロットを定める
  .claude/skills/review-diff/SKILL.md
  AGENTS.md
Due: none

docs: ブリーフィング必須スロットの採点 eval を実行して結果を記録する
  docs/superpowers/evals/review-diff/results/2026-07-29-briefing-skeleton.md
Due: none

refactor: 指示文書の規則を AGENTS.md の1段落に畳んで rules から外す
  .claude/rules/authoring.md
  AGENTS.md
  docs/superpowers/specs/2026-07-29-instruction-reliability-open-items.md
  scripts/test-aegis-gate.py
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
