Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

fix: resolve a11y issues in UI components
  src/components/ui/breadcrumb.tsx
  src/components/ui/pagination.tsx
Due: lint, format

docs: update CLAUDE.md for oxlint and oxfmt
  CLAUDE.md
Due: none

feat: add tsgo for faster TypeScript type checking
  CLAUDE.md
  bun.lockb
  package.json
Due: format

chore: remove Serena, Next DevTools, and Codex MCP configurations
  .mcp.json
  .serena/.gitignore
  .serena/project.yml
  CLAUDE.md
Due: format

chore: remove Storybook
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/preview.tsx
  CLAUDE.md
  package.json
Due: lint, format

chore: update README.md for Next.js 16 and tool changes
  README.md
Due: none

ci: replace Biome with oxlint/oxfmt and use tsgo for type checking
  .github/workflows/ci.yaml
Due: none

chore: update bun.lockb to reflect dependency changes
  bun.lockb
Due: none

chore: remove Supabase, GitHub OAuth, and old PostgreSQL migrations
  public/github-mark-white.svg
  scripts/supabase-push.js
  src/app/auth/callback/route.ts
  src/lib/drizzle/migrations/0000_parallel_magdalene.sql
  src/lib/drizzle/migrations/meta/0000_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
  src/lib/supabase/client.ts
  src/lib/supabase/server.ts
  src/lib/supabase/types.ts
  supabase/.gitignore
  supabase/config.toml
  supabase/migrations/000_initial_setup.sql
Due: lint, format

feat: migrate to Cloudflare D1/R2 + Better Auth with Google OAuth
  .env.local.example
  bun.lockb
  drizzle.config.ts
  next.config.ts
  open-next.config.ts
  package.json
  src/actions/auth.ts
  src/app/api/auth/[...all]/route.ts
  src/app/login/page.tsx
  src/entities/user/index.ts
  src/env.d.ts
  src/gateways/user/index.ts
  src/lib/auth.ts
  src/lib/auth/auth-client.ts
  src/lib/auth/auth.ts
  src/lib/auth/session.ts
  src/lib/drizzle/db.ts
  src/lib/drizzle/schema.ts
  src/lib/storage/r2.ts
  src/middleware.ts
  wrangler.toml
Due: lint, format

docs: update README and DATABASE_SETUP for Cloudflare + Better Auth
  .claude/settings.json
  README.md
  docs/DATABASE_SETUP.md
Due: format

fix: correct wrangler.toml and preview/deploy scripts
  package.json
  wrangler.toml
Due: format

fix: simplify middleware to only protect /profile routes
  src/middleware.ts
Due: lint, format

feat: add local D1 setup script and initial migration
  scripts/setup-local-db.sh
  src/lib/drizzle/migrations/0000_outstanding_sue_storm.sql
  src/lib/drizzle/migrations/meta/0000_snapshot.json
  src/lib/drizzle/migrations/meta/_journal.json
Due: format

docs: improve setup docs and fix environment config
  .env.local.example
  .gitignore
  README.md
  docs/DATABASE_SETUP.md
Due: none

refactor: rename db:setup-local to db:push:local
  docs/DATABASE_SETUP.md
  package.json
Due: format

fix: defer avatar upload to Update Profile button click
  src/components/features/profile-page/profile-form/ProfileForm.tsx
Due: lint, format

fix: serve avatars via API route instead of R2 public URL
  src/app/api/avatars/route.ts
  src/entities/user/index.ts
  src/lib/storage/r2.ts
Due: lint, format

docs: fix Cloudflare Pages to Cloudflare Workers
  README.md
  docs/DATABASE_SETUP.md
Due: none

docs: replace hardcoded project names with placeholders for template use
  docs/DATABASE_SETUP.md
  scripts/setup-local-db.sh
  wrangler.toml
Due: none

feat: add frontend-engineer agent and remove frontend-ux-engineer agent.com>
  .claude/agents/frontend-engineer.md
  .claude/agents/frontend-ux-engineer.md
  .claude/skills/commit/SKILL.md
  .claude/skills/remove-supabase/SKILL.md
Due: none

feat: migrate configuration to next.config.mjs and add local database seeding scripte.json.
  docs/DATABASE_SETUP.md
  next.config.mjs
  next.config.ts
  package.json
  scripts/seed-local.ts
Due: lint, format

feat: update serena yml
  .serena/project.yml
Due: none

feat: add serena cache
  .serena/cache/typescript/document_symbols.pkl
  .serena/cache/typescript/raw_document_symbols.pkl
Due: none

docs: 開発サーバー起動コマンドを bun run dev に変更
  README.md
Due: none

docs: CLAUDE.md の技術スタック修正と基盤ルール整理
  CLAUDE.md
Due: none

chore: frontend-engineer エージェントのツール権限を拡張
  .claude/agents/frontend-engineer.md
Due: none

feat:update ai settings
  .claude/agents/frontend-engineer.md
  .claude/skills/coding-guidelines/SKILL.md
  .claude/skills/coding-guidelines/architecture.md
  .claude/skills/coding-guidelines/functional-style.md
  .claude/skills/coding-guidelines/server-components.md
  .claude/skills/coding-guidelines/test-guidelines.md
  .serena/project.yml
  CLAUDE.md
Due: none

feat: update claude settings
  .claude/agents/frontend-engineer.md
  .claude/settings.json
  .claude/skills/coding-guide/SKILL.md
  .claude/skills/coding-guidelines/SKILL.md
  .claude/skills/coding-guidelines/architecture.md
  .claude/skills/coding-guidelines/functional-style.md
  .claude/skills/coding-guidelines/server-components.md
  .claude/skills/coding-guidelines/storybook-guidelines.md
  .claude/skills/coding-guidelines/test-guidelines.md
  .claude/skills/coding-guidelines/testability.md
  .claude/skills/coding-guidelines/useeffect-guidelines.md
  .claude/skills/commit/SKILL.md
  .claude/skills/design-guidelines/SKILL.md
  .claude/skills/design-guidelines/hi-design.md
  .claude/skills/design-guidelines/ui-design.md
  .claude/skills/design-guidelines/ux-design.md
  .mcp.json
  .serena/project.yml
Due: format

docs: AGENTS.md を追加し CLAUDE.md から参照
  AGENTS.md
  CLAUDE.md
Due: none

chore: Stop hook の作業ディレクトリとパッケージマネージャを更新
  .claude/settings.json
Due: format

chore: knip を導入
  bun.lockb
  knip.json
  package.json
Due: format

docs: README に Scripts / Tools / Claude Code セクションを追加
  README.md
Due: none

refactor: oxlint 強化に伴うコード修正
  src/components/ui/sidebar.tsx
  src/gateways/user/index.ts
Due: lint, format

chore: oxlint 設定を強化
  .oxlintrc.json
Due: format

chore: oxlint の warn ルールを error に昇格
  .oxlintrc.json
Due: format

docs: remove-db skill を追加
  .claude/skills/remove-db/SKILL.md
Due: none

chore: knip.json に誤検知抑止の ignoreDependencies を追加
  knip.json
Due: format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
