Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lint:
  run: bunx oxlint --fix {staged_files}
  stage_fixed: true

format:
  run: bunx oxfmt --write {staged_files}
  stage_fixed: true

chore: ツールの版が mise.toml 一箇所で決まる
  .github/workflows/ci.yaml
Due: none

fix: format の検査対象がツリー全体になる
  package.json
Due: format

fix: stylesheet ガードが落ちた理由を出す
  .github/workflows/ci.yaml
Due: none

fix: node の版が mise.toml で固定される
  README.md
  mise.toml
Due: none

fix: テストが書かないストレージを掃除しない
  src/test-setup.ts
Due: lint, format

chore: node が Maintenance LTS から離れる
  mise.toml
Due: none

chore: knip が不要な ignoreBinaries を持たない
  knip.json
Due: format

feat: ツールチェインが Vite+ に集約される
  .claude/hooks/check-md-links.test.ts
  .oxfmtrc.json
  .vscode/settings.json
  bun.lock
  knip.json
  oxlint.config.ts
  package.json
  src/components/shared/mode-toggle/theme-cycle.test.ts
  src/entities/user/index.test.ts
  src/gateways/avatar/index.test.ts
  src/gateways/user/index.test.ts
  src/lib/auth/required-secret.test.ts
  src/lib/storage/avatar-validation.test.ts
  src/lib/utils.test.ts
  src/routes/api/-avatars.test.ts
  src/server/fn/avatar.test.ts
  src/server/fn/user.test.ts
  src/test-setup.ts
  tools/oxlint-plugins/arch-rules.test.ts
  tools/oxlint-plugins/style-rules.test.ts
  tools/vite-plugins/wrangler-types.test.ts
  vite.config.ts
  vitest.config.mts
Due: lint, format

fix: 未設定の環境変数を drizzle の設定が名前付きで拒否する
  drizzle.config.ts
Due: lint, format

fix: テストハーネスが lint を通る
  scripts/test-bash-guard.ts
Due: lint, format

chore: 静的検査とフックが vp check を呼ぶ
  .claude/hooks/stop-gate.sh
  .github/workflows/ci.yaml
  lefthook.yml
Due: none

feat: ツール版のずれを push 前と CI が捕まえる
  .github/workflows/ci.yaml
  lefthook.yml
  package.json
  scripts/check-toolchain-pins.ts
Due: lint, format

docs: 文書が現在の設定の在り処を指す
  .claude/skills/remove-db/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
  README.md
  docs/DEPLOYMENT.md
  docs/FORKING.md
  docs/SERVER_BOUNDARY.md
Due: none

fix: db:generate が Cloudflare の資格情報なしで走る
  drizzle.config.ts
Due: lint, format

fix: 版の検査が範囲指定を弾く
  scripts/check-toolchain-pins.ts
Due: lint, format

fix: pre-push の型検査が一度だけ走る
  .github/workflows/ci.yaml
  lefthook.yml
Due: none

fix: 版の検査が = 付きの厳密指定を通す
  scripts/check-toolchain-pins.ts
Due: lint, format

refactor: 常に真になる条件と冗長なオプショナルチェーンを落とす
  .claude/hooks/check-md-links.ts
  src/components/features/profile-page/profile-form/profile-form.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

chore: oxlint の全カテゴリを error にする
  vite.config.ts
Due: lint, format

docs: config override のコメントが落とすルールを取りこぼさない
  vite.config.ts
Due: lint, format

refactor: ルールを落とす理由を override の分割と名前で表す
  vite.config.ts
Due: lint, format

fix: 却下した候補の検証記録がレビュー報告に残る
  .claude/agents/code-reviewer.md
Due: none

fix: レビュー報告が自分の根拠を実物で確かめてから書く
  .claude/agents/code-reviewer.md
Due: none

fix: rules レンズが読み込み済みのファイルを読み直さない
  .claude/agents/code-reviewer.md
Due: none

fix: ヘッダの例が自分の本文と数の上で一致する
  .claude/agents/code-reviewer.md
Due: none

fix: 量化子のリストを prose.md の内容として書かない
  .claude/agents/code-reviewer.md
Due: none

fix: 逆向きの sweep を prose.md の規則と分けて書く
  .claude/agents/code-reviewer.md
Due: none

docs: AGENTS.md の判定が読み手の推測なしに決まる
  AGENTS.md
Due: none

docs: レビュー指摘の数だけコミットが分かれる
  AGENTS.md
Due: none

docs: コミットメッセージだけで直した欠陥がわかる
  AGENTS.md
Due: none

docs: 作業報告が比喩ではなく変更対象を名指す
  .claude/rules/prose.md
Due: none

fix: CLI スクリプトの出力が lint 警告にならない
  vite.config.ts
Due: lint, format

docs: effect を使わない規則が一箇所だけに書かれる
  .claude/rules/react.md
Due: none

docs: shadow と背景と radius の判断がそれぞれ一箇所で決まる
  .claude/rules/design.md
Due: none

docs: コンポーネントの置き場所が react.md だけで決まる
  .claude/rules/react.md
  AGENTS.md
Due: none

docs: ルール一覧が各 frontmatter の写しでなくなる
  AGENTS.md
Due: none

docs: レビュー指摘への返信の形が決まる
  AGENTS.md
Due: none

fix: worktree セッションでも hook が自分の checkout を検査する
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
Due: none

feat: PR ブランチでは worker が commit と push を自分で行う
  .claude/settings.json
  AGENTS.md
  README.md
Due: format

feat: worktree で並列開発できる導線を整える
  .gitignore
  .worktreeinclude
  AGENTS.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json}
