Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

test: coverage の include のパターンも何にも当たらなくなったら止まる
  vitest.config.mts
  vitest.config.test.ts
Due: lint, format

test: coverage の exclude に消えたモジュールのエントリが残らなくなる (#157)
  bun.lock
  package.json
  vitest.config.mts
  vitest.config.test.ts
Due: lint, format

fix: worktree を丸ごと取る git commit が pre-bash-guard に止められる
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

docs: One commit = one purpose が git commit -a も名指しする
  AGENTS.md
Due: none

docs: dispatch 段落が worker prompt への skill 名指しを指示する
  AGENTS.md
Due: none

fix: git add --pathspec-from-file の値がパスとして数えられなくなる
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

docs: settings.json の statusMessage が gate の実際の名前を出す
  .claude/settings.json
Due: format

fix: 引用符の中の -m が message 本文の削除範囲を開かなくなる
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

fix: 省略形の --pathspec-from-f も pathspec をファイル任せとして拒否される
  .claude/hooks/pre-bash-guard.sh
  scripts/test-bash-guard.ts
Due: lint, format

fix: worktree を丸ごと取る git commit が pre-bash-guard に止められる (#158)
  .claude/hooks/pre-bash-guard.sh
  .claude/settings.json
  AGENTS.md
  scripts/test-bash-guard.ts
Due: lint, format

docs: worker が別プロセスの完了を待つ手段を Worker brief から読める
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: worker が別プロセスの完了を待つ手段を Worker brief から読める (#159)
  .claude/skills/dispatch-run/SKILL.md
Due: none

fix: stop-gate が入れないツリーを黙って別のツリーとして判定しなくなる
  .claude/hooks/stop-gate.sh
Due: none

feat: shellcheck が tracked な shell を pre-push と CI で検査する
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/session-start-env-check.sh
  .github/workflows/ci.yaml
  knip.json
  lefthook.yml
  mise.toml
  package.json
  scripts/cloud-agent-install.sh
Due: format

test: pre-bash-guard の 202 ケースが bun run test と CI で走る
  .claude/hooks/hook-output.ts
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/pre-bash-guard.test.ts
  vite.config.ts
  vitest.config.mts
Due: lint, format

test: stop-gate の block 判定とリンク結果が回帰で落ちる
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: guard の hook が壊れていると allow ケースも落ちる
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

fix: 空白を含む shell スクリプトのパスが check:shell から漏れなくなる
  package.json
Due: format

docs: ci.yaml の mise コメントがツールを数え上げなくなる
  .github/workflows/ci.yaml
Due: none

docs: CLI_ENTRYPOINTS の override コメントが hook のテストも指す
  vite.config.ts
Due: lint, format

docs: README と Home が shellcheck も導入対象として挙げる
  README.md
  src/routes/index.tsx
Due: lint, format

test: 黙って exit した hook でも allow ケースが落ちる
  .claude/hooks/hook-output.ts
  .claude/hooks/pre-bash-guard.test.ts
Due: lint, format

test: stop-gate が payload の cwd を優先する分岐が回帰で落ちる
  .claude/hooks/stop-gate.test.ts
Due: lint, format

test: readHookJson の二つの分岐が直接押さえられる
  .claude/hooks/hook-output.test.ts
Due: lint, format

docs: dispatch が worker の載る model を自分で決められる
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: dispatch が worker の載る model を自分で決められる (#161)
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: dispatch の bullet が usage window の残量を読めない事実を述べる
  AGENTS.md
Due: none

docs: dispatch bullet の見出しが取るべき行動を名指す
  AGENTS.md
Due: none

docs: dispatch bullet が「読めない」を測った範囲に絞る
  AGENTS.md
Due: none

docs: dispatch bullet の調査列挙が version ごとに腐らない長さになる
  AGENTS.md
Due: none

docs: dispatch の bullet が usage window の残量を読めない事実を述べる (#162)
  AGENTS.md
Due: none

fix: git status が読めない tree でも Stop gate が黙って通らなくなる
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
Due: lint, format

refactor: 何も走らないまま block する 2 箇所が同じ一文を共有する
  .claude/hooks/stop-gate.sh
Due: none

fix: downgrade の警告が実際に立ったフィールドを名指しする
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
Due: lint, format

docs: hook-output の comment が別ファイルの assertion を語らなくなる
  .claude/hooks/hook-output.ts
Due: lint, format

test: hook のゲートが bun run test と CI で走り shellcheck が shell を静的に検査する (#160)
  .claude/hooks/hook-output.test.ts
  .claude/hooks/hook-output.ts
  .claude/hooks/pre-bash-guard.sh
  .claude/hooks/pre-bash-guard.test.ts
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/hooks/stop-gate.test.ts
  .github/workflows/ci.yaml
  README.md
  knip.json
  lefthook.yml
  mise.toml
  package.json
  scripts/cloud-agent-install.sh
  src/routes/index.tsx
  vite.config.ts
  vitest.config.mts
Due: lint, format

refactor: coverage の除外対象がファイル名で決まる
  .github/workflows/ci.yaml
  AGENTS.md
  scripts/check-cursor-rule-mirrors.entry.ts
  src/components/shared/header/user-menu/user-menu.tsx
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.ts
  src/lib/auth/actions.live.ts
  src/lib/auth/auth-client.live.ts
  src/lib/storage/r2.live.ts
  src/routes/login.tsx
  vitest.config.mts
Due: lint, format

fix: coverage の接尾辞を付けたモジュールでもレイヤ違反が報告される
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

docs: codex-delegation の実測値と実際の手順の差が読める
  .claude/skills/codex-delegation/SKILL.md
Due: none

refactor: coverage の除外対象がファイル名で決まる (#163)
  .claude/skills/codex-delegation/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
  scripts/check-cursor-rule-mirrors.entry.ts
  src/components/shared/header/user-menu/user-menu.tsx
  src/gateways/user/drizzle-store.live.ts
  src/gateways/user/index.ts
  src/lib/auth/actions.live.ts
  src/lib/auth/auth-client.live.ts
  src/lib/storage/r2.live.ts
  src/routes/login.tsx
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
  vitest.config.mts
Due: lint, format
