Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

Worktree で並列開発し、PR ブランチの commit / push を worker に任せる (#100)
  .claude/hooks/session-start-env-check.sh
  .claude/hooks/stop-gate.sh
  .claude/settings.json
  .gitignore
  .worktreeinclude
  AGENTS.md
  README.md
Due: format

docs: 無人の worker が人を待つ手順を、PR に書いて進む手順に置き換える
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

feat: merge queue で PR をマージ後の状態で検査してから main に入れる
  .github/workflows/ci.yaml
  AGENTS.md
Due: none

無人の worker が止まらない手順と merge queue (#101)
  .claude/skills/ticket-work/SKILL.md
  .github/workflows/ci.yaml
  AGENTS.md
Due: none

fix: merge queue の代わりに main への追従を required check の条件にする
  .github/workflows/ci.yaml
  AGENTS.md
Due: none

fix: merge queue の代わりに main への追従を required check の条件にする (#102)
  .github/workflows/ci.yaml
  AGENTS.md
Due: none

docs: GitHub 側の設定を新しいリポジトリで再現できるようにする
  .github/rulesets/main-organization.json
  .github/rulesets/main-personal.json
  .github/workflows/ci.yaml
  AGENTS.md
  docs/FORKING.md
Due: format

docs: GitHub 側の設定を新しいリポジトリで再現できるようにする (#103)
  .github/rulesets/main-organization.json
  .github/rulesets/main-personal.json
  .github/workflows/ci.yaml
  AGENTS.md
  docs/FORKING.md
Due: format

Revert "docs: GitHub 側の設定を新しいリポジトリで再現できるようにする"
  .github/rulesets/main-organization.json
  .github/rulesets/main-personal.json
  .github/workflows/ci.yaml
  AGENTS.md
  docs/FORKING.md
Due: format

fix: マージ条件を GitHub の設定に頼らず worker が gh で確かめる
  AGENTS.md
Due: none

fix: CI 待ちを build check だけの polling にする
  AGENTS.md
Due: none

マージ条件を GitHub の設定に頼らず worker が gh で確かめる (#104)
  .github/rulesets/main-organization.json
  .github/rulesets/main-personal.json
  .github/workflows/ci.yaml
  AGENTS.md
  docs/FORKING.md
Due: format

feat: 開発環境のインフラは worker が自由に変え、本番だけを人に残す
  AGENTS.md
Due: none

feat: worker の同時数を空きメモリの実測で決める
  AGENTS.md
Due: none

開発インフラは worker に任せ、worker 数は空きメモリで決める (#105)
  AGENTS.md
Due: none

feat: 依頼をチケットに割る基準と、並列に dispatch する条件を決める
  AGENTS.md
Due: none

feat: 依頼をチケットに割る基準と、並列に dispatch する条件を決める (#106)
  AGENTS.md
Due: none

docs: これまで auto-memory に置いていた判断を文書へ移す
  .claude/skills/empirical-prompt-tuning/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

feat: エージェントが学んだことは auto-memory ではなく文書・構造・型に置く
  AGENTS.md
Due: none

エージェントが学んだことは auto-memory ではなく文書・構造・型に置く (#107)
  .claude/skills/empirical-prompt-tuning/SKILL.md
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

refactor: Better Auth の base URL をリクエストから導く
  .claude/skills/remove-db/SKILL.md
  .env.local.example
  docs/DATABASE_SETUP.md
  docs/DEPLOYMENT.md
  docs/FORKING.md
  src/lib/auth/auth.ts
  wrangler.toml
Due: lint, format

fix: 新しい worktree では最初に mise trust を実行する
  AGENTS.md
Due: none

docs: DATABASE_SETUP.md の本文中のダッシュを文の区切りにする
  docs/DATABASE_SETUP.md
Due: none

feat: portless で worktree ごとに dev サーバの URL を分ける
  .claude/skills/remove-db/SKILL.md
  AGENTS.md
  README.md
  bun.lock
  docs/DATABASE_SETUP.md
  docs/FORKING.md
  package.json
  src/routes/index.tsx
Due: lint, format

portless で worktree ごとに dev サーバの URL を分ける (#108)
  .claude/skills/remove-db/SKILL.md
  .env.local.example
  AGENTS.md
  README.md
  bun.lock
  docs/DATABASE_SETUP.md
  docs/DEPLOYMENT.md
  docs/FORKING.md
  package.json
  src/lib/auth/auth.ts
  src/routes/index.tsx
  wrangler.toml
Due: lint, format

feat: ローディング中のプレースホルダに Skeleton を使えるようにする
  src/components/ui/skeleton.tsx
Due: lint, format

feat: Badge コンポーネントを shadcn の流儀で追加する
  src/components/ui/badge.test.tsx
  src/components/ui/badge.tsx
Due: lint, format

feat: ローディング中のプレースホルダに Skeleton を使えるようにする (#109)
  src/components/ui/skeleton.tsx
Due: lint, format

feat: Badge コンポーネントを shadcn の流儀で追加する (#110)
  src/components/ui/badge.test.tsx
  src/components/ui/badge.tsx
Due: lint, format

fix: worker が CI 待ちで止まらず、worktree からもブランチを消せる手順にする
  AGENTS.md
Due: none

fix: worker が CI 待ちで止まらず、worktree からもブランチを消せる手順にする (#111)
  AGENTS.md
Due: none

docs: 並列開発の段落を実行者4回分の読みで決定可能にする
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

docs: 並列開発の段落を実行者4回分の読みで決定可能にする (#112)
  .claude/skills/ticket-work/SKILL.md
  AGENTS.md
Due: none

refactor: Radix の primitive を統合パッケージ radix-ui から import する
  .claude/skills/remove-db/SKILL.md
  bun.lock
  package.json
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
Due: lint, format

refactor: Radix の primitive を統合パッケージ radix-ui から import する (#113)
  .claude/skills/remove-db/SKILL.md
  bun.lock
  package.json
  src/components/ui/avatar.tsx
  src/components/ui/badge.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/form.tsx
  src/components/ui/label.tsx
Due: lint, format

feat: オーケストレータが承認なしで空きメモリと PR の状態を読めるようにする
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
  vitest.config.mts
Due: lint, format

docs: dispatch する session が承認待ちで止まらない手順にする
  AGENTS.md
Due: none

docs: freeGibFromMemoryPressure のコメントが呼び出し側の動作を偽らないようにする
  scripts/orchestrate-decisions.ts
Due: lint, format

refactor: free-gib のエラー終了を console.log の引数から出す
  scripts/orchestrate.ts
Due: lint, format

fix: 開いている PR が 100 件を超えても watch-prs が閉じたと誤らないようにする
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format
