Repository imaimai17468/imaimai-front-templete: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: bunx oxlint --fix {staged_files}
      stage_fixed: true
    format:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: bunx oxfmt --write {staged_files}
      stage_fixed: true
pre-push:
  commands:
    check:
      run: bun run check
    typecheck:
      run: bun run typecheck

test: it.skip / it.todo の fixture が SKIP_METHODS まで届く
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

fix: 表駆動テストの行も命名と expect 数のゲートが判定する
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

test: 表駆動の行名が should ... when ... の形になる
  src/components/shared/mode-toggle/theme-cycle.test.ts
  src/lib/storage/avatar-validation.test.ts
Due: lint, format

fix: 表駆動テストの行も命名と expect 数のゲートが判定する (#148)
  src/components/shared/mode-toggle/theme-cycle.test.ts
  src/lib/storage/avatar-validation.test.ts
  tools/oxlint-plugins/arch-rules.js
  tools/oxlint-plugins/arch-rules.test.ts
Due: lint, format

refactor: 述語の名前が判定している範囲どおりになる
  tools/oxlint-plugins/arch-rules.js
Due: lint, format

test: 初回アップロードの分岐がテストで踏まれる
  src/gateways/user/index.test.ts
Due: lint, format

feat: 新しいモジュールが既定でカバレッジのゲートに入る
  vitest.config.mts
Due: none

test: 実行ガードの通らない側が分岐数から外れる
  scripts/check-cursor-rule-mirrors.ts
Due: lint, format

test: 到達できない default アームが分岐数から外れる
  src/routes/api/avatars.ts
Due: lint, format

refactor: 述語の名前が判定している範囲どおりになる (#150)
  tools/oxlint-plugins/arch-rules.js
Due: lint, format

feat: 新しいモジュールが既定でカバレッジのゲートに入る (#149)
  scripts/check-cursor-rule-mirrors.ts
  src/gateways/user/index.test.ts
  src/routes/api/avatars.ts
  vitest.config.mts
Due: lint, format

refactor: 到達できないアームの除外が 1 行になる
  src/routes/api/avatars.ts
Due: lint, format

refactor: カバレッジ設定のコメントが例外の中身だけを説明する
  vitest.config.mts
Due: none

refactor: cleanup を飛ばす 2 ケースが 1 つの表になる
  src/gateways/user/index.test.ts
Due: lint, format

docs: Testing 節がカバレッジのゲートの今の形を書く
  AGENTS.md
Due: none

refactor: カバレッジのゲートのコメントとテストの重複が減る (#151)
  AGENTS.md
  src/gateways/user/index.test.ts
  src/routes/api/avatars.ts
  vitest.config.mts
Due: lint, format

refactor: 実行スクリプトと判定が別のモジュールになる
  scripts/check-cursor-rule-mirrors.ts
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
  vitest.config.mts
Due: lint, format

refactor: 実行スクリプトと判定が別のモジュールになる (#152)
  scripts/check-cursor-rule-mirrors.ts
  scripts/cursor-rule-mirrors.test.ts
  scripts/cursor-rule-mirrors.ts
  vitest.config.mts
Due: lint, format

docs: 機械的な実装を Codex CLI に渡す判断と手順が skill になる
  .claude/skills/codex-delegation/SKILL.md
Due: none

docs: dispatch 数を memory だけでなく token の上限でも抑えられるようにする
  AGENTS.md
Due: none

docs: worker prompt が毎回書き直していた手順を dispatch-run が持つようにする
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: step 5 の委譲先に Codex CLI が入る
  .claude/skills/ticket-work/SKILL.md
Due: none

docs: 返ってこなかった review を再 dispatch してから ready にする
  .claude/skills/ticket-work/SKILL.md
Due: none

docs: dispatch の同時数に観測された上限 3 体という数字を与える
  AGENTS.md
Due: none

docs: dispatch が prompt に書く前提を worker 任せにせず確認させる
  .claude/skills/dispatch-run/SKILL.md
Due: none

docs: Codex CLI への委譲 skill と ticket-work の 2 点 (#153)
  .claude/skills/codex-delegation/SKILL.md
  .claude/skills/ticket-work/SKILL.md
Due: none

feat: worker が worktree の初期化を承認待ちなしで走らせられる
  .claude/settings.json
Due: format

docs: dispatch 数の token 側の上限と worker への標準 brief を docs に入れる (#154)
  .claude/skills/dispatch-run/SKILL.md
  AGENTS.md
Due: none

fix: Bash guard の statusMessage が動いている 3 つのゲートを名前で示す
  .claude/settings.json
Due: format

fix: env-check の修復手順が bun run setup を指す
  .claude/hooks/session-start-env-check.sh
Due: none

docs: env-check が引く AGENTS.md の節名が見出しと一致する
  .claude/hooks/session-start-env-check.sh
Due: none

fix: Cursor の allowlist も worktree 初期化のコマンドを持つ
  .cursor/permissions.json
Due: format

fix: settings.json と env-check が bun run setup と 3 つの Bash ゲートを実態どおりに書く (#155)
  .claude/hooks/session-start-env-check.sh
  .claude/settings.json
  .cursor/permissions.json
Due: format

fix: merge 済み pull request の worktree が clean-worktrees で消える
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

refactor: coverage の exclude の一覧を test から読めるようにする
  vitest.config.mts
Due: none

test: coverage の exclude に消えたモジュールのエントリが残らなくなる
  vitest.config.test.ts
Due: lint, format

fix: merge 済み pull request の worktree が clean-worktrees で消える (#156)
  scripts/orchestrate-decisions.test.ts
  scripts/orchestrate-decisions.ts
  scripts/orchestrate.ts
Due: lint, format

fix: fixture の temp directory が test を絞った run でも消える
  vitest.config.test.ts
Due: lint, format

docs: test の上のコメントが別ファイルの一覧を主張しなくなる
  vitest.config.test.ts
Due: lint, format

fix: stale 判定が vitest と同じ engine と option でパターンを展開する
  bun.lock
  package.json
  vitest.config.test.ts
Due: lint, format
